<div *ngIf="showEmployeeWise == false" style="min-height: 100vh;">
    <div class="card">
               <div class="card-body">
                   <div style="display: flex;flex-wrap: wrap;">
                    <div class="col-md-3" >
                        <label class="form-label">Select Sub Organization</label>
                        <ng-multiselect-dropdown [placeholder]="'All Sub Organization'" [(ngModel)]="selectedOrganization" [data]="OrgList"
                            [settings]="orgSettings" (onSelect)="onselectedOrg($event)"
                            (onDeSelect)="onDeselectedOrg($event)">
                        </ng-multiselect-dropdown>
                    </div>
                       <div class="col-md-3">
                           <label class="form-label filelabels">Branch</label>
                           <ng-multiselect-dropdown [placeholder]="'All Branches'" [data]="BranchList"
                               [(ngModel)]="selectedBranch" (onSelect)="onBranchSelect($event)"
                               (onDeSelect)="onBranchDeSelect($event)" [settings]="branchSettings">
                           </ng-multiselect-dropdown>
                       </div>
                       <div class="col-md-3">
                           <label class="form-label filelabels">Department</label>
                           <ng-multiselect-dropdown [placeholder]="'All Departments'" [data]="DepartmentList"
                               [(ngModel)]="selectedDepartment" (onSelect)="onDeptSelect($event)"
                               (onDeSelect)="onDeptDeSelect($event)" [settings]="departmentSettings">
                           </ng-multiselect-dropdown>
                       </div>
                       <div class="col-md-3">
                           <label class="form-label filelabels" >From Date</label>
                           <input type="date" [(ngModel)]="FromDate" class="form-control">
                       </div>
                       <div class="col-md-3">
                           <label class="form-label filelabels" >To Date</label>
                           <input type="date"[(ngModel)]="ToDate" class="form-control">
                       </div>
                       <div class="col-md-3">
                           <label class="form-label filelabels">Actions</label>
                           <button class="btn btn-primary" (click)="getExpenseDateWise()">Search</button>
                       </div>
                   </div>
               </div>
               <div class="card-body">
                   <div class="row" style="margin: 0;margin-bottom: 10px;">
                       <button class="btn btn-primary approve" (click)="approveExpense()">Approve</button>&nbsp;&nbsp;
                       <button class="btn btn-primary reject" (click)="rejectExpense()">Reject</button>
                   </div>
               <div  class="table-responsive">
               <app-common-table [data]="dateWiseList" [displayColumns]="displayColumns" [Loading]="Loading" 
               [displayedColumns]="displayedColumns" [editableColumns]="editableColumns" [actions]="actionOptions" 
               (actionEmitter)="actionEmitter($event)" ></app-common-table>
               </div>
               </div>
    </div>
</div>
<div *ngIf="showEmployeeWise == true">
    <label class="button" (click)="backToList()"><i class="fa fa-chevron-left"></i> &nbsp;&nbsp;Back To Date Wise</label>
    <app-employee></app-employee>
</div>