.approve{
    width: max-content;
    background-color:green;
    color: white;
}
.reject{
    width: max-content;
    background-color:red;
    color: white;
}
.button {
    background-color: white;
    border: 1px solid #dadada;
    color: black;
    border-radius: 10px;
    margin-right: 4px;
    padding: 5px;
  }