<div class="dialogs">
   
<div class="row">
    <div  class="card-body">
        <div style="display: flex;justify-content: space-between;">
            <h3 style="font-weight: bold;text-align: center;" > Reports</h3>
            <i class="fa fa-times" style="font-size: 20px;" (click)="close()"></i>
        </div>
        <div  class="example" style="position: fixed;padding: 1rem; border: 5px solid rgba(227, 231, 241, .8);border-radius: 3px;">
            <ul  class="nav1 bg-pagar br-5" style="padding: 5px;border-radius:25px;">
                <li style="color: white;"  class="nav-item1" (click)="Navigate('Attendance')">
                    <i class="fa fa-list"></i> &nbsp; Attendance Reports
                </li>
            </ul><br>
            <ul  class="nav1 bg-pagar br-5" style="padding: 5px;border-radius:25px">
                <li style="color: white;"  class="nav-item1" (click)="Navigate('Salary')">
                    <i class="fa fa-list"></i> &nbsp; Salary Reports
                </li>
            </ul><br>
            <ul  class="nav1 bg-pagar br-5" style="padding: 5px;border-radius:25px">
                <li style="color: white;" class="nav-item1" (click)="Navigate('Loan')">
                    <i class="fa fa-list"></i> &nbsp; Loan & Advance Reports
                </li>
            </ul><br>
            <ul  class="nav1 bg-pagar br-5" style="padding: 5px;border-radius:25px">
                <li style="color: white;" class="nav-item1" (click)="Navigate('Expense')">
                    <i class="fa fa-list"></i> &nbsp; Expense Reports
                </li>
            </ul><br>
            <!-- <ul  class="nav1 bg-pagar br-5" style="padding: 5px;border-radius:25px">
                <li style="color: white;" class="nav-item1" (click)="Navigate('Annual')">
                    <i class="fa fa-list"></i> &nbsp; Annual Reports
                </li>
            </ul> -->
</div>
</div>
</div>
    </div>