/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  } */
  .table-bordered, .text-wrap table, .table-bordered th, .text-wrap table th, .table-bordered td, .text-wrap table td {
    border: 1px solid rgba(0, 0, 0, 0.29);
  }
  .button{
    background-color: white;
    border:1px solid #dadada;
    color: black;
    border-radius: 10px;
    margin-right: 4px;
    padding: 10px;
}