.confirmation{
    width: 350px;
    display: block;
    justify-content: center;
    height: auto;
    padding: 20px;
}
.green{
    background-color: rgb(51, 156, 51);
    color: white;
    padding: 4px;
    height: fit-content;
    font-size: 10px;
    border-radius: 5px;
    width: fit-content;
        }
