<div class="card" >
    <div class="card-header" style="justify-content: start;">
        <div class="col-md-5"><label (click)="backToDashboard()" class="mb-0 card-title"><i class="fa fa-chevron-left"></i> &nbsp;&nbsp;Back
        </label></div>
        <h3 class="mb-0 card-title">File Directory</h3>
    </div>
    <div class="card-body">
        <div class="row row-sm">
               <!-- <div class="col-md-12" style="display: flex; justify-content: end;">
                            <button class="btn btn-primary mb-4" (click)="openDialog();" style="background-color: #3601b5a3;"> <i class="fa fa-plus"></i> &nbsp; Upload Files</button> &nbsp;
                        </div> -->
            <!-- <div class="col-lg-4 col-xl-3 col-xxl-3">
                <div class="card">
                    <div class="card-body">
                        <apx-chart class="apexcharts-canvas apexchartsry4prmqg apexcharts-theme-light">
                            <div style="min-height: 202.614px;">
                                <div id="apexchartsw1s8y0oa" class="apexcharts-canvas apexchartsw1s8y0oa apexcharts-theme-light"
                                    style="width: 243px; height: 202.614px;"><svg id="SvgjsSvg1047" width="243"
                                        height="202.61375427246094" xmlns="http://www.w3.org/2000/svg" version="1.1"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev"
                                        class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 1)"
                                        style="background: transparent;">
                                        <g id="SvgjsG1049" class="apexcharts-inner apexcharts-graphical"
                                            transform="translate(-55.5, 0)">
                                            <defs id="SvgjsDefs1048">
                                                <clipPath id="gridRectMaskw1s8y0oa">
                                                    <rect id="SvgjsRect1051" width="362" height="380" x="-3" y="-1" rx="0"
                                                        ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"
                                                        fill="#fff"></rect>
                                                </clipPath>
                                                <clipPath id="forecastMaskw1s8y0oa"></clipPath>
                                                <clipPath id="nonForecastMaskw1s8y0oa"></clipPath>
                                                <clipPath id="gridRectMarkerMaskw1s8y0oa">
                                                    <rect id="SvgjsRect1052" width="360" height="382" x="-2" y="-2" rx="0"
                                                        ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"
                                                        fill="#fff"></rect>
                                                </clipPath>
                                                <linearGradient id="SvgjsLinearGradient1057" x1="1" y1="0" x2="0" y2="1">
                                                    <stop id="SvgjsStop1058" stop-opacity="1" stop-color="rgba(255,255,255,1)"
                                                        offset="0"></stop>
                                                    <stop id="SvgjsStop1059" stop-opacity="1" stop-color="rgba(102,111,255,1)"
                                                        offset="0.5"></stop>
                                                    <stop id="SvgjsStop1060" stop-opacity="1" stop-color="rgba(102,111,255,1)"
                                                        offset="0.53"></stop>
                                                    <stop id="SvgjsStop1061" stop-opacity="1" stop-color="rgba(255,255,255,1)"
                                                        offset="0.91"></stop>
                                                </linearGradient>
                                                <filter id="SvgjsFilter1063" filterUnits="userSpaceOnUse" width="200%"
                                                    height="200%" x="-50%" y="-50%">
                                                    <feFlood id="SvgjsFeFlood1064" flood-color="#000000" flood-opacity="1"
                                                        result="SvgjsFeFlood1064Out" in="SourceGraphic"></feFlood>
                                                    <feComposite id="SvgjsFeComposite1065" in="SvgjsFeFlood1064Out"
                                                        in2="SourceAlpha" operator="in" result="SvgjsFeComposite1065Out">
                                                    </feComposite>
                                                    <feOffset id="SvgjsFeOffset1066" dx="0" dy="0" result="SvgjsFeOffset1066Out"
                                                        in="SvgjsFeComposite1065Out"></feOffset>
                                                    <feGaussianBlur id="SvgjsFeGaussianBlur1067" stdDeviation="0 "
                                                        result="SvgjsFeGaussianBlur1067Out" in="SvgjsFeOffset1066Out">
                                                    </feGaussianBlur>
                                                    <feMerge id="SvgjsFeMerge1068" result="SvgjsFeMerge1068Out"
                                                        in="SourceGraphic">
                                                        <feMergeNode id="SvgjsFeMergeNode1069" in="SvgjsFeGaussianBlur1067Out">
                                                        </feMergeNode>
                                                        <feMergeNode id="SvgjsFeMergeNode1070" in="[object Arguments]">
                                                        </feMergeNode>
                                                    </feMerge>
                                                    <feBlend id="SvgjsFeBlend1071" in="SourceGraphic" in2="SvgjsFeMerge1068Out"
                                                        mode="normal" result="SvgjsFeBlend1071Out"></feBlend>
                                                </filter>
                                                <linearGradient id="SvgjsLinearGradient1077" x1="1" y1="0" x2="0" y2="1">
                                                    <stop id="SvgjsStop1078" stop-opacity="1" stop-color="rgba(0,143,251,1)"
                                                        offset="0"></stop>
                                                    <stop id="SvgjsStop1079" stop-opacity="1" stop-color="rgba(102,188,253,1)"
                                                        offset="0.5"></stop>
                                                    <stop id="SvgjsStop1080" stop-opacity="1" stop-color="rgba(102,188,253,1)"
                                                        offset="0.53"></stop>
                                                    <stop id="SvgjsStop1081" stop-opacity="1" stop-color="rgba(0,143,251,1)"
                                                        offset="0.91"></stop>
                                                </linearGradient>
                                            </defs>
                                            <g id="SvgjsG1053" class="apexcharts-radialbar">
                                                <g id="SvgjsG1054">
                                                    <g id="SvgjsG1055" class="apexcharts-tracks">
                                                        <g id="SvgjsG1056" class="apexcharts-radialbar-track apexcharts-track"
                                                            rel="1">
                                                            <path id="apexcharts-radialbarTrack-0"
                                                                d="M 72.21341463414633 178 A 105.78658536585367 105.78658536585367 0 0 1 283.7865853658537 178"
                                                                fill="none" fill-opacity="1" stroke="rgba(255,255,255,0.85)"
                                                                stroke-opacity="1" stroke-linecap="butt"
                                                                stroke-width="37.91890243902439" stroke-dasharray="0"
                                                                class="apexcharts-radialbar-area" filter="url(#SvgjsFilter1063)"
                                                                data:pathOrig="M 72.21341463414633 178 A 105.78658536585367 105.78658536585367 0 0 1 283.7865853658537 178">
                                                            </path>
                                                        </g>
                                                    </g>
                                                    <g id="SvgjsG1072">
                                                        <g id="SvgjsG1076" class="apexcharts-series apexcharts-radial-series"
                                                            seriesName="AveragexResults" rel="1" data:realIndex="0">
                                                            <path id="SvgjsPath1082"
                                                                d="M 72.21341463414633 178 A 105.78658536585367 105.78658536585367 0 0 1 255.36741078896947 105.85372226387629"
                                                                fill="none" fill-opacity="0.85"
                                                                stroke="url(#SvgjsLinearGradient1077)" stroke-opacity="1"
                                                                stroke-linecap="butt" stroke-width="39.91463414634147"
                                                                stroke-dasharray="0"
                                                                class="apexcharts-radialbar-area apexcharts-radialbar-slice-0"
                                                                data:angle="137" data:value="76" index="0" j="0"
                                                                data:pathOrig="M 72.21341463414633 178 A 105.78658536585367 105.78658536585367 0 0 1 255.36741078896947 105.85372226387629">
                                                            </path>
                                                        </g>
                                                        <circle id="SvgjsCircle1073" r="81.82713414634148" cx="178" cy="178"
                                                            class="apexcharts-radialbar-hollow" fill="transparent"></circle>
                                                        <g id="SvgjsG1074" class="apexcharts-datalabels-group"
                                                            transform="translate(0, 0) scale(1)" style="opacity: 1;"><text
                                                                id="SvgjsText1075" font-family="Helvetica, Arial, sans-serif"
                                                                x="178" y="178" text-anchor="middle" dominant-baseline="auto"
                                                                font-size="32px" font-weight="400" fill="#373d3f"
                                                                class="apexcharts-text apexcharts-datalabel-value"
                                                                style="font-family: Helvetica, Arial, sans-serif;">76%</text>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                            <line id="SvgjsLine1083" x1="0" y1="0" x2="356" y2="0" stroke="#b6b6b6"
                                                stroke-dasharray="0" stroke-width="1" stroke-linecap="butt"
                                                class="apexcharts-ycrosshairs"></line>
                                            <line id="SvgjsLine1084" x1="0" y1="0" x2="356" y2="0" stroke-dasharray="0"
                                                stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden">
                                            </line>
                                        </g>
                                        <g id="SvgjsG1050" class="apexcharts-annotations"></g>
                                    </svg>
                                    <div class="apexcharts-legend"></div>
                                </div>
                            </div>
                        </apx-chart>
                    </div>
                    <div class="card-body border-top-0">
                     
                        <div class="card">
                       
                            <div class="card-header">
                                <h3 class="card-title">Filter</h3>
                            </div>
                            <div class="card-body" style="padding: 1rem;">
                                <div style="display: flex;flex-wrap: wrap;">
                                    <div class="col-md-12">
                                        <label class="form-label">Branch </label>
                                        <ng-multiselect-dropdown [placeholder]="'Select Branch'" [data]="BranchList"
                                            [(ngModel)]="selectedBranch" (onSelect)="onBranchSelect($event)"
                                            (onDeSelect)="onBranchDeSelect($event)" [settings]="branchSettings">
                                        </ng-multiselect-dropdown>
                                    </div>
                                    <div class="col-md-12" style="padding-top: 15px;">
                                        <label class="form-label">Department</label>
                                        <ng-multiselect-dropdown [placeholder]="'All Department'" [data]="DepartmentList"
                                            [(ngModel)]="selectedDepartment" (onSelect)="onDeptSelect($event)"
                                            (onSelectAll)="onDeptDeSelectAll()" (onDeSelectAll)="onDeptSelectAll()"
                                            (onDeSelect)="onDeptDeSelect($event)" [settings]="departmentSettings">
                                        </ng-multiselect-dropdown>
                                    </div>
        
                                    <div class="col-md-12" style="padding-top: 15px; display: flex; justify-content: center;">
                                        <button class="btn btn-primary mb-4" (click)="Submit();">Search</button> &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-lg-8 col-xl-8 col-xxl-9"> -->
                <!-- <div class="text-dark mb-2 ms-1 fs-20 fw-semibold">All Folders</div> -->
                <div class="row row-sm">
                    <div class="col-xl-3 col-md-6 col-sm-6" style="text-align: center;" *ngFor="let IL of FileTypeList; let i= index">
                        <div class="card pos-relative" >
                            <a (click)="MoveToFiles(IL.Value)" class="open-file"></a>
                            <div class="card-body pt-4 pb-0">
                                <div class="text-primary">
                                    <img src="{{IL.Icon}}" style="max-height: 200px; min-height: 200px;">
                                </div>
                            </div>
                            <div class="card-footer border-top-0">
                                <div class="align-items-center">
                                    <div>
                                        <h5 class="text-primary">{{IL.Text}}</h5>
                                        <p class="text-muted fs-13 mb-0">{{IL.Count}} Files</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>