<!-- <div class="error-image"> -->
     <div class="page" style="background-image: url(assets/images/Banner/bg5.png) ; width: 100%;
     height: auto;">
        <div class="container">
            <div class="col col-login mx-auto mt-7">
                <br>
                <div class="row justify-content-center text-center">
                    <div class="col-md-9">
                        <div class="card card-group mb-0">
                            <div class="card p-4">
                                <div class="card-body" style="background: #EAF0F6">
                                   
                                  <div  class="row" style="padding: 10px;background: #ffffff;">
                                    <div  class="col-md-3"></div>
                                    <div  class="col-md-6">
                                        <div class="text-center title-style mb-6">
                                            <img src="./assets/images/brand/Pagarlogo.jpg" style="padding:5%;height: 240px;">
                                            <p class="text-muted">Register Now!!
                                            </p>
                                        </div>
                                    </div>
                                    <div  class="col-md-3"></div>

                                  
                                        <div  class="col-md-6">
                                        <div                                
                                        class="wrap-input100 validate-input input-group"><a 
                                            
                                            class="input-group-text bg-white text-muted"><i 
                                                aria-hidden="true" class="fa fa-university"></i></a>
                                                <input type="text" name="Organization" placeholder="Enter Organization Name *"
                                            #Organization="ngModel" required onkeydown="return /^[a-zA-Z][a-zA-Z\s]*$/.test(this.value + event.key)" Organization [(ngModel)]="formInput.Organization"
                                            class="border-start-0 ms-0 form-control ng-untouched ng-pristine ng-invalid">
                                    </div></div>

                                    <div  class="col-md-6">
                                    <div class="wrap-input100 validate-input input-group"><a 
                                        
                                        class="input-group-text bg-white text-muted"><i 
                                            aria-hidden="true" class="fa fa-address-book"></i></a>
                                            <input  type="text" name="FirstName"
                                        placeholder="Enter First Name *"
                                        #FirstName="ngModel" required pattern="^[a-zA-Z]+$" onkeydown="return /^[a-zA-Z][a-zA-Z\s]*$/.test(this.value + event.key)" FirstName [(ngModel)]="formInput.FirstName"
                                        class="border-start-0 ms-0 form-control ng-untouched ng-pristine ng-invalid">
                                </div></div>


                                <div  class="col-md-6">
                                <div class="wrap-input100 validate-input input-group"><a 
                                    
                                    class="input-group-text bg-white text-muted"><i 
                                        aria-hidden="true" class="fa fa-address-book"></i></a><input
                                    type="text" name="LastName"
                                    placeholder="Enter Last Name"
                                    #LastName="ngModel" required  pattern="^[a-zA-Z]+$" onkeydown="return /^[a-zA-Z][a-zA-Z\s]*$/.test(this.value + event.key)" LastName [(ngModel)]="formInput.LastName"
                                    class="border-start-0 ms-0 form-control ng-untouched ng-pristine ng-invalid">
                            </div></div>

                            <div  class="col-md-6">
                                        <div 
                                            
                                            class="wrap-input100 validate-input input-group"><a 
                                            
                                                class="input-group-text bg-white text-muted"><i 
                                                    aria-hidden="true" class="fa fa-envelope"></i></a><input
                                                type="email" name="email"
                                                placeholder="Enter Email Id *" 
                                                #Email="ngModel" required Email [(ngModel)]="formInput.Email"
                                                class="border-start-0 ms-0 form-control ng-untouched ng-pristine ng-invalid">
                                        </div>
                                        </div>
                                        <div  class="col-md-6">
                                        <div
                                        class="wrap-input100 validate-input input-group"><a 
                                            
                                            class="input-group-text bg-white text-muted"><i 
                                                aria-hidden="true" class="fa fa-phone"></i></a>
                                                <input  type="number" name="MobileNumber" placeholder="Enter Mobile Number *" pattern="[6-9]{1}[0-9]{9}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10" 
                                            #MobileNumber="ngModel" required MobileNumber [(ngModel)]="formInput.MobileNumber" (keypress)="validatemobilenumber($event)"
                                            class="border-start-0 ms-0 form-control ng-untouched ng-pristine ng-invalid">
                                    </div></div>


                                    
                <div  class="col-md-6">
                    <div class="wrap-input100 validate-input input-group"><a 
                                                     
                                                    class="input-group-text bg-white text-muted"><i 
                                                        aria-hidden="true" class="fa fa-sun-o"></i></a><input
                                                    name="SalaryDay"
                                                    type="number" placeholder="Enter Salary Day *" (change)="checksalaryday(formInput.SalaryDay);"
                                                    #SalaryDay="ngModel" pattern="[0-3]{1}[0-1]{1}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="2" required SalaryDay [(ngModel)]="formInput.SalaryDay"
                                                    class="border-start-0 ms-0 form-control ng-untouched ng-pristine ng-invalid">
                                            </div>
                                            </div>

                                    
                
                                    <div  class="col-md-6">
                                        <div class="wrap-input100 validate-input input-group">
                                            <a   class="input-group-text bg-white text-muted">
                                               
                                                <label class="form-label">Office Start Time *</label></a><input
                                            type="time" name="StartTime" 
                                            #OfficeStartTime="ngModel" required OfficeStartTime [(ngModel)]="formInput.OfficeStartTime"
                                            class="border-start-0 ms-0 form-control ng-untouched ng-pristine ng-invalid">
                                    </div>
                                    <div class="wrap-input100 validate-input input-group"><a 
                                        
                                        class="input-group-text bg-white text-muted">
                                            <label class="form-label"> Office End Time *</label></a><input
                                        type="time" name="OfficeEndTime" 
                                        #OfficeEndTime="ngModel" required OfficeEndTime [(ngModel)]="formInput.OfficeEndTime"
                                        class="border-start-0 ms-0 form-control ng-untouched ng-pristine ng-invalid">
                                </div>
                             
                            </div>

                                    <div  class="col-md-6"> <div 
                                    class="wrap-input100 validate-input input-group"><a 
                                        
                                        class="input-group-text bg-white text-muted"><i 
                                            aria-hidden="true" class="fa fa-address-card-o"></i></a><textarea
                                        type="email" name="Address" rows="3"
                                        placeholder="Enter Complete Address *"
                                        #Address="ngModel" required pattern="^[a-zA-Z]+$" Address [(ngModel)]="formInput.Address"
                                        class="border-start-0 ms-0 form-control ng-untouched ng-pristine ng-invalid"></textarea>
                                </div></div>


                                <div  class="col-md-6"> 
                                    <!-- <div 
                                    class="wrap-input100 validate-input input-group"><a 
                                        
                                        class="input-group-text bg-white text-muted"><i 
                                            aria-hidden="true" class="fa fa-map-marker"></i></a><input
                                        type="text" name="State"
                                        placeholder="Enter State *"
                                        #State="ngModel" required pattern="^[a-zA-Z]+$" onkeydown="return /^[a-zA-Z][a-zA-Z\s]*$/.test(this.value + event.key)" State [(ngModel)]="formInput.State"
                                        class="border-start-0 ms-0 form-control ng-untouched ng-pristine ng-invalid">
                                </div> -->

                                
 <div  class="form-group">
                                            <ng-select [items]="StateList"
                                            bindLabel="Text"
                                            bindValue="Value"
                                            [multiple]="false"
                                            placeholder="Select State *"
                                            (change)="OnStateChange($event)"
                                            notFoundText="No State Found"
                                            [(ngModel)]="selectedStateId">
                                 </ng-select>
                                    </div>
                                
                            </div>

                                <div  class="col-md-6"> 
                                    <div  class="form-group">
                                        <ng-select [items]="CityList"
                                        bindLabel="Text"
                                        bindValue="Value"
                                        [multiple]="false"
                                        placeholder="Select City *"
                                        (change)="OnCityChange($event)"
                                        notFoundText="No City Found"
                                        [(ngModel)]="selectedCityId">
                             </ng-select>
                                </div>
                                </div>



                                        <div  class="col-md-6">
                                        <div class="wrap-input100 validate-input input-group"><a 
                                            
                                            class="input-group-text bg-white text-muted"><i 
                                                aria-hidden="true" class="fa fa-user-plus"></i></a><input
                                            name="ReferralCode"
                                            type="text" placeholder="Enter Referral Code (Optional)"
                                           
                            #ReferralCode="ngModel" required onkeydown="return /^[a-zA-Z][a-zA-Z\s]*$/.test(this.value + event.key)" ReferralCode [(ngModel)]="formInput.ReferralCode"
                                            class="border-start-0 ms-0 form-control ng-untouched ng-pristine ng-invalid">
                                    </div></div>
                                    <div  class="col-md-6">
                                        <div id="Password-toggle"
                                            class="wrap-input100 validate-input input-group">
                                            <a  class="input-group-text bg-white text-muted" (click)="OnPassClick();">
                                                <i aria-hidden="true" class="fa fa-eye" *ngIf="this.passwordinput=='password'" ></i>
                                                    <i aria-hidden="true" class="fa fa-eye-slash" *ngIf="this.passwordinput=='text'"></i></a><input
                                                name="password" id="password"
                                                type="{{passwordinput}}" placeholder="Enter Password *"
                                              
                                                #Password="ngModel" required  onkeydown="return /^\S*$/.test(this.value + event.key)" Password [(ngModel)]="formInput.Password" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                                maxlength="8"
                                                class="border-start-0 ms-0 form-control ng-untouched ng-pristine ng-invalid">
                                               
                                        </div></div>

                                        <div  class="col-md-6">
                                            <div id="Password-toggle"
                                                class="wrap-input100 validate-input input-group">
                                                <a  class="input-group-text bg-white text-muted" (click)="OnConfirmClick();">
                                                    <i aria-hidden="true" class="fa fa-eye" *ngIf="this.confirmpasswordinput=='password'" ></i>
                                                        <i aria-hidden="true" class="fa fa-eye-slash" *ngIf="this.confirmpasswordinput=='text'"></i></a>
                                                        <input name="ConfirmPassword" id="ConfirmPassword" type="{{confirmpasswordinput}}" placeholder="Enter Confirm Password *"
                                                  
                                                    #ConfirmPassword="ngModel" required  onkeydown="return /^\S*$/.test(this.value + event.key)" Password [(ngModel)]="formInput.ConfirmPassword" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                                    maxlength="8"
                                                    class="border-start-0 ms-0 form-control ng-untouched ng-pristine ng-invalid">
                                                   
                                            </div></div>
                                        <div class="text-center pt-5">
                                            <p class="text-dark mb-2">Already have account?<a (click)="logout();"
                                                    class="text-primary ms-1">Sign
                                                    In</a></p>
                                                    <button  id="table2-new-row-button" class="btn btn-primary mb-4" style="border-radius:10px;background-color: #3601b5a3;" (click)="submit();"> Submit</button>
                                        </div>

                                        <div class="col-md-12" >
                                            <div class="row">
                                                <div class="col-md-3"></div>
                                                <div class="col-md-6">
                                                    <div class="wrap-input100 validate-input input-group">
                                                    <input class="input"
                                                    type="text"
                                                    [(ngModel)]="autocompleteInput"
                                                    #addresstext style="padding: 12px 20px; border: 1px solid #ccc; width: 400px"
                                                    ></div>
                <!-- <input class="border-start-0 ms-0 form-control ng-untouched ng-pristine ng-invalid" ngx-google-places-autocomplete [options]='options' onfocus="if (!window.__cfRLUnblockHandlers)  false; this.value=''" #placesRef="ngx-places"  (onAddressChange)="handleAddressChange1($event)" >-->
                                               
                                                </div>
                                            </div>
                                           
                                            <agm-map [latitude]="lat" [longitude]="lng"  [zoom]="zoom">
                                                <agm-direction 
                                                  [origin]="origin" 
                                                  [destination]="destination"
                                                >
                                                </agm-direction>
                                              </agm-map>
                                              <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
<!-- </div> -->
