<div >
    <div  class="row">
        <form #validationForm="ngForm" class="editForm" novalidate>
        <div  class="col-md-12">
            <div  class="card">
                <div  class="card-header">
                    <h3  class="mb-0 card-title">💬 Create Message</h3>
                </div>
                <div  class="card-body">
                    <div  class="row">
                        <div  class="col-md-4">
                            <div  class="form-group"><label 
                                class="form-label">Select Branch</label>
                                <ng-select [items]="BranchList"
                                bindLabel="Text"
                                bindValue="Value"
                                [multiple]="false"
                                placeholder="Select Branch"
                                (change)="OnBranchChange($event)"
                                [(ngModel)]="selectedBranchId">
                     </ng-select>
                        </div></div>
                                   <div  class="col-md-4">
            
                                    <div  class="form-group"><label 
                                        class="form-label">Select Department</label>
                                        <ng-select [items]="DepartmentList"
                                        bindLabel="Text"
                                        bindValue="Value"
                                        [multiple]="false"
                                        placeholder="Select Department"
                                        (change)="OnDepartmentChange($event)"
                                        [(ngModel)]="selectedDepartmentIds">
                             </ng-select>
                                </div></div>

                            <div  class="col-md-4">
                                <div  class="form-group"><label 
                                    class="form-label">Select Employee</label>
                                    <ng-select [items]="EmployeeList"
                                    bindLabel="Text"
                                    bindValue="Value"
                                    [multiple]="true"
                                    placeholder="Select Employees"
                                    [(ngModel)]="selectedEmployeeId">
                         </ng-select>
                            </div></div>
<div  class="col-md-6">
                            <div  class="form-group"><label 
                                    class="form-label">Description</label><textarea  type="text" rows="3"
                             class="form-control" id="Description" name="Description" placeholder="Router Path" 
                                    [ngClass]="{'is-invalid': !Description.valid && (Description.dirty || Description.touched || isSubmit)}"
                                    #Description="ngModel" required onkeydown="return /^[a-zA-Z][a-zA-Z\s]*$/.test(this.value + event.key)" Description [(ngModel)]="formInput.Description"></textarea>
                                   
                                </div>
                           </div>
                           <div class="col-md-4">
                            <div  class="form-group">
                                <div  class="form-label">Upload Image</div>
                                <div  class="mb-3"><input  type="file" id="formFile"
                                    (change)="UploadProof1Image1($event,validationForm)" class="form-control"></div>
                                    <div *ngIf="ShowImage">
                                        <img [src]="fileurl" height="100" width="200"/>
                      </div>
                            </div>
                         </div> 
                    <div  class="table-responsive ng-star-inserted">
                        <button  id="table2-new-row-button" class="btn btn-primary mb-4" style="border-radius:10px;background-color: #3601b5a3;" (click)="SendMessage();"> Submit</button> &nbsp;
                        </div>
                </div>
            </div>
        </div>
    </div>   
    </form>
</div>
</div>

<div  *ngIf="!AddPermission">
                       
    <div  class="page page-h"><div  class="page-content z-index-10"><div  class="container text-center"><div  class="row"><div  class="col-lg-6 col-xl-6 col-md-6 d-block mx-auto"><div  class="text-black"><div  class="display-1 t mb-5"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div><h1  class="h2 mb-3">Authorization Error..<i class="fa fa-exclamation" aria-hidden="true"></i></h1><p  class="h4 font-weight-normal mb-7 leading-normal">“Sorry, You Are Not Allowed to Access This Page”</p><a  routerlink="/dashboard/sales-dashboard" class="btn btn-primary" style="border-radius: 10px;background-color: #3601b5a3;"> </a></div></div></div></div></div></div>
</div>
        
   
   
   