.dialogs{
    height: 600px;
    overflow-y: scroll;
    padding: 25px;
    font-family: poppins;
    overflow: scroll;
    max-height: 600px;
} 
.spacing{
    padding: 0;
}
.col-md-4
{
margin-top: 10px;
}