<div class="dialogs">
    <div class="row">
        <div  class="card-body">
            <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
                <h3 style="font-weight: bold;text-align: center;font-size: 18px" >Attendance Reports</h3>
                <i class="fa fa-times" style="font-size: 20px;" (click)="close()"></i>
            </div>
            <div  class="example" style="padding: 5px; border: 5px solid rgba(227, 231, 241, .8);border-radius: 3px;">
                  <ul  class="nav1 bg-pagar br-5" style="padding: 5px;border-radius:25px;">
                    <li style="color: white;"  class="nav-item1" (click)="Navigate('Custom')">
                        📋 Summary Report
                    </li>
                </ul><br>
                <ul  class="nav1 bg-pagar br-5" style="padding: 5px;border-radius:25px;">
                    <li style="color: white;"  class="nav-item1" (click)="Navigate('HR')">
                        🧑‍💼 HR Report
                    </li>
                </ul><br>
                <ul  class="nav1 bg-pagar br-5" style="padding: 5px;border-radius:25px">
                    <li style="color: white;"  class="nav-item1" (click)="Navigate('Daily')">
                       🕒 Daily Punch Report
                    </li>
                </ul><br>
                   <ul  class="nav1 bg-pagar br-5" style="padding: 5px;border-radius:25px">
                    <li style="color: white;"  class="nav-item1" (click)="Navigate('Monthly')">
                        📅 Monthly Punch Report
                    </li>
                </ul><br>
             
    </div>
    </div>
    </div>
        </div>