<div class="dialogs">
    <div  class="row">
            <div class="col-md-12">
            <div  class="productdesc">
               <img src="{{this.Emoji}}" style="height: 300px;width: 500px;object-fit: contain;"><br>
                <h6 style="text-align: center;color: black;">{{Message}}</h6>
                <div class="text-center mt-2 pb-5 border-bottom">
                    <a class="btn btn-success me-1" (click)="CloseTab();">
                        Okay  <i  class="fa fa-check-circle-o"></i></a>    
                        </div> 
            
        </div>
        </div>
        </div>
</div>
