<div class="dialogs">
    <div  class="row">
            <div class="col-md-12">
            <div  class="productdesc">
                <h3  class="mb-5 mt-3 fw-bold" style="text-align: center;"> Alert</h3>
                <h6 style="text-align: center;">{{Message}}</h6>
                <div class="text-center border-bottom">
                    <button class="btn btn-success" (click)="CloseTab();">
                        Okay  <i  class="fa fa-check-circle-o"></i></button>    
                        </div> 
            
        </div>
        </div>
        </div>
</div>
