<div class="dialogs">
    <div  class="row">
            <div class="col-md-12">
            <div  class="productdesc">
                <h3  class="mb-5 mt-3 fw-bold" style="text-align: center;"> Alert</h3>
                <h6 style="text-align: center;">Would you like to share employee credentails?</h6>
                <div class="text-center mt-2 pb-5 border-bottom">
                    <a class="btn btn-success me-1" (click)="SendWhatsAppCred()">
                        <i  class="fa fa-whatsapp"></i> Whatsapp</a>  
                        <a class="btn btn-success me-1" (click)="Share('Email');">
                            <i  class="fa fa-envelope-o"></i> Email</a>   
                        <a class="btn btn-danger me-1" (click)="CloseTab();">
                            <i  class="fa fa-times"></i> Cancel</a>    
                        </div> 
            
        </div>
        </div>
        </div>
</div>
