<div >
    <div  class="row">
        <div  class="col-md-12">
            <div  class="card">
                <div  class="card-header">
                    <h3  class="mb-0 card-title">Change Password</h3>
                </div>
                <div  class="card-body">
                    <div  class="row">
                        <div  class="col-md-4">
                            <div  class="form-group"><label 
                                    class="form-label">Old Password</label>
                                    <div id="Password-toggle"
                                    class="wrap-input100 validate-input input-group">
                                    <a  class="input-group-text bg-white text-muted" (click)="OnOldClick();">
                                        <i aria-hidden="true" class="fa fa-eye" *ngIf="this.oldpasswordinput=='password'" ></i>
                                            <i aria-hidden="true" class="fa fa-eye-slash" *ngIf="this.oldpasswordinput=='text'"></i></a><input
                                        name="OldPassword" id="OldPassword"
                                        type="{{oldpasswordinput}}" placeholder="Enter Old Password *"
                                      
                                        #OldPassword="ngModel" required  onkeydown="return /^\S*$/.test(this.value + event.key)" OldPassword [(ngModel)]="formInput.OldPassword" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                        maxlength="8"
                                        class="border-start-0 ms-0 form-control ng-untouched ng-pristine ng-invalid">
                                       
                                </div></div>
</div>
<div  class="col-md-4">
                            <div  class="form-group"><label 
                                    class="form-label">New Password</label>
                                    <div id="Password-toggle"
                                    class="wrap-input100 validate-input input-group">
                                    <a  class="input-group-text bg-white text-muted" (click)="OnPassClick();">
                                        <i aria-hidden="true" class="fa fa-eye" *ngIf="this.passwordinput=='password'" ></i>
                                            <i aria-hidden="true" class="fa fa-eye-slash" *ngIf="this.passwordinput=='text'"></i></a><input
                                        name="NewPassword" id="NewPassword"
                                        type="{{passwordinput}}" placeholder="Enter Password *"
                                      
                                        #NewPassword="ngModel" required  onkeydown="return /^\S*$/.test(this.value + event.key)" NewPassword [(ngModel)]="formInput.NewPassword" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                        maxlength="8"
                                        class="border-start-0 ms-0 form-control ng-untouched ng-pristine ng-invalid">
                                       
                                </div>
                                </div>
                           </div>

                           <div  class="col-md-4">
                            <label 
                                    class="form-label">Confirm Password </label>
                            <div id="Password-toggle"
                            class="wrap-input100 validate-input input-group">
                            <a  class="input-group-text bg-white text-muted" (click)="OnConfirmClick();">
                                <i aria-hidden="true" class="fa fa-eye" *ngIf="this.confirmpasswordinput=='password'" ></i>
                                    <i aria-hidden="true" class="fa fa-eye-slash" *ngIf="this.confirmpasswordinput=='text'"></i></a><input
                                name="ConfirmPassword" id="ConfirmPassword"
                                type="{{confirmpasswordinput}}" placeholder="Enter Confirm Password *"
                              
                                #ConfirmPassword="ngModel" required  onkeydown="return /^\S*$/.test(this.value + event.key)" ConfirmPassword [(ngModel)]="formInput.ConfirmPassword" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                maxlength="8"
                                class="border-start-0 ms-0 form-control ng-untouched ng-pristine ng-invalid">
                               
                        </div>
                           </div>
                 
                                  
                    </div>
                    <div  class="table-responsive ng-star-inserted">
                        <button  id="table2-new-row-button" class="btn btn-primary mb-4" style="border-radius:10px;background-color: #3601b5a3;" (click)="submit();">Submit</button>
                        <!----></div>
                </div>
            </div>
        </div>
    </div>   
</div>
<div  *ngIf="!ViewPermission">
                       
    <div  class="page page-h"><div  class="page-content z-index-10"><div  class="container text-center"><div  class="row"><div  class="col-lg-6 col-xl-6 col-md-6 d-block mx-auto"><div  class="text-black"><div  class="display-1 t mb-5"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div><h1  class="h2 mb-3">Authorization Error..<i class="fa fa-exclamation" aria-hidden="true"></i></h1><p  class="h4 font-weight-normal mb-7 leading-normal">“Sorry, You Are Not Allowed to Access This Page”</p><a  routerlink="/dashboard/sales-dashboard" class="btn btn-primary" style="border-radius: 10px;background-color: #3601b5a3;"> </a></div></div></div></div></div></div>
</div>
        
   
   
   