<div class="dialogs">
    <div  class="row">
            <div class="col-md-12">
            <div  class="productdesc">
                <img src="{{ImageUrl}}" height="400px;" width="400px;">
                
                <div class="text-center border-bottom">
                    <br>
                    <button class="btn btn-danger" (click)="CloseTab();">
                        Close  <i  class="fa fa-times"></i></button>    
                        </div> 
            
        </div>
        </div>
        </div>
</div>
