<div [class.hide]="showAssign==true || showUserAssign == true">
    
<div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="justify-content: space-between;">
                    <div>
                        <!-- <h3 class="mb-0 card-title filelabels" style="font-size: 12px;color: #978f8f;">Asset Manager</h3>
                        <h3 class="mb-0 card-title filelabels" style="font-size: 18px;font-weight: 600;">View Assets Assigned Users</h3> -->
                        <span class="filelabels" style="font-size: 12px;color: #978f8f">Asset Manager</span>
                        <h3 class="mb-0 card-title filelabels">User Assignment List</h3>
                    </div>
                    <div style="display: flex;gap: 10px;">
                        <button class="btn btn-primary listbutton" (click)="goToAnalytics()">Analytics</button>
                        <!-- <button class="btn btn-primary listbutton" (click)="getDepartmentWise()">Department Wise</button> -->
                        <button class="btn btn-primary listbutton" (click)="goToUserAssign()">Assign Asset to user</button>
                        <button class="btn btn-primary listbutton" (click)="drawerOpen()">Filters</button>
                    </div>
                </div>
                <div class="card-body">
                    <app-hierarchy [selectedFilterData]="selectedFilterData" [dropDownExtras]="dropDownExtras" [actions]="hirearchyActions" (actionEmitter)="triggerHierarchyAction($event)"></app-hierarchy>
                </div>
                <div class="maincards" *ngIf="AssignedList && AssignedList.length>0 && Loading ==false">
                    <div class="chip3">
                        <h3 class="chip3-value">{{totalItems}}</h3>
                        <label class="chip3-title">Total Items Assigned</label>
                    </div>
                    <div class="chip3">
                        <h3 class="chip3-value">{{totalQuantityAssigned}}</h3>
                        <label class="chip3-title">Total Quantity</label>
                    </div>
                    <div class="chip3">
                        <h3 class="chip3-value">{{totalUser}}</h3>
                        <label class="chip3-title">Total Users</label>
                    </div>
                </div>
                <div class="card-body"  *ngIf="(AssignedList && AssignedList.length>0 && Loading ==false) || Loading == true">
                    <div class="table-responsive">
                        <app-common-table [data]="AssignedList" [displayColumns]="displayColumns" [Loading]="Loading" [displayedColumns]="displayedColumns" [editableColumns]="editableColumns" [actions]="actionOptions" (actionEmitter)="actionEmitter($event)" [dataColors]="tableDataColors" [topHeaders]="topHeaders" [name]="commonTableName" [headerInfo]="headerInfo"></app-common-table>
                        <p>
                            <b>T</b> : TOTAL, 
                            <b>RTNBL</b>: RETURNABLE , 
                            <b>N-RTNBL</b>: NON-RETURNABLE , 
                            <b>RTN</b>: RETURNED , 
                            <b>DMG</b>: RETURNED DAMAGE
                        </p>
                        
                    </div>
                </div>
                <div class="card-body" *ngIf="AssignedList.length == 0 && Loading == false">
                    <div style="display: flex;justify-content: center;">
                       <div class="noDataCard">
                        <h3 style="font-size: 16px;">No Asset has been assigned to selected user</h3>
                        <button class="btn btn-primary listbutton" (click)="goToUserAssign()">Assign Asset to User</button>
                       </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display: flex;gap: 10px;">
    <button class="btn btn-primary listbutton" (click)="goToStock()">Stock Inward</button>
    <button class="btn btn-primary listbutton" (click)="goToItems()">Items</button>
</div>
<mat-drawer-container [class.drawer-opened]="drawer.opened"
class="example-container">
<mat-drawer #drawer class="drawer" #sideNav opened="false" [mode]="'over'"
    [position]="'end'" (backdropClick)="closeDrawer()">
    <mat-icon class="close" (click)="drawer.close()">close</mat-icon>
    <h2
        style="font-size: 16px;color:rgb(0, 0, 0);font-family: poppins;padding:10px">
        Filters</h2>
    <div style="height:90%;overflow: scroll;">
        <div class="filters">
            <div class="filtercss">
                <div class="detailscard">
                    <!-- <div class="card-body"> -->
                        <!-- <div style="display: flex;flex-wrap: wrap;"> -->
                            <!-- <div class="col-md-12" >
                                <label class="form-label">Select Sub Organization</label>
                                <ng-multiselect-dropdown [placeholder]="'select Sub Organization'" [(ngModel)]="selectedOrganization" [data]="SubOrgList"
                                    [settings]="orgSettings" (onSelect)="onselectedOrg($event)"
                                    (onDeSelect)="onDeselectedOrg($event)">
                                </ng-multiselect-dropdown>
                            </div> -->
                            <!-- <div class="col-md-12">
                                <label class="form-label filelabels">Branch</label>
                                <ng-multiselect-dropdown [placeholder]="'All Branches'" [data]="BranchList"
                                    [(ngModel)]="selectedBranch" (onSelect)="onBranchSelect($event)"
                                    (onDeSelect)="onBranchDeSelect($event)" [settings]="branchSettings">
                                </ng-multiselect-dropdown>
                            </div> -->
                            <!-- <div class="col-md-12">
                                <label class="form-label filelabels">Department</label>
                                <ng-multiselect-dropdown [placeholder]="'All Departments'" [data]="DepartmentList"
                                    [(ngModel)]="selectedDepartment" (onSelect)="onDeptSelect($event)"
                                    (onDeSelect)="onDeptDeSelect($event)" [settings]="departmentSettings">
                                </ng-multiselect-dropdown>
                            </div> -->
                            <div class="col-md-12" style="text-align: center;margin-top: 10%;">
                                <!-- <label class="form-label filelabels">Actions</label> -->
                                <button class="btn btn-primary" (click)="getAssignedList()">Apply Filters</button>
                            </div>
                        <!-- </div> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</mat-drawer>
</mat-drawer-container>
</div>

<ng-container *ngIf="showAssign==true">
    <label class="button" (click)="backtolist()" ><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back</label>
    <app-asset-assign [showAssignType]="showAssignType" (close)="backtolist()"></app-asset-assign>
</ng-container>
<ng-container *ngIf="showUserAssign==true">
    <label class="button" (click)="backtolist()" ><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back</label>
    <app-asset-userlist [showUserAssignData]="showUserAssignData" (close)="backtolist()"></app-asset-userlist>
</ng-container>