.backbutton {
    background-color: white;
    border: 1px solid #dadada;
    color: black;
    border-radius: 10px;
    margin-right: 4px;
    padding: 5px;
  }
  .maincards{
    display: flex;
    gap: 10px;
    margin: 10px 20px;
  }
  .chip3 {
    background-color: rgb(233, 238, 255);
    margin-right: 12px;
    margin-bottom: 12px;
    padding: 5px 7px;
    border-radius: 5px;
    width: 200px;
  }

  .chip3-title {
    font-size: 14px;
    color: rgb(97 97 97);
    font-weight: 400;
  }

  .chip3-value {
    font-size: 22px;
    font-weight: 500;
    color: rgb(4, 4, 143);
    margin: 5px 2px;
}