<div class="row">
  <div class="col-md-6">
      <div class="card shadow-sm">
          <div class="card-header">
              <h5 class="text-center">🧑‍💼 Profile Details</h5>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-12">
                      <div class="row">
                          <div class="col-md-6">
                              <label class="form-label">Organization Name</label>
                              <input type="text" placeholder="Organization Name"
                                     [ngClass]="{'is-invalid': !Organization.valid && (Organization.dirty || Organization.touched || isSubmit)}"
                                     #Organization="ngModel" required
                                     onkeydown="return /^[a-zA-Z][a-zA-Z\s]*$/.test(this.value + event.key)"
                                     [(ngModel)]="formInput.Organization" class="form-control">
                          </div>

                          <div class="col-md-6">
                              <label class="form-label">Organization Logo</label>
                              <input type="file" class="form-control" (change)="onFileSelected($event)" />
                          </div>

                          <div class="col-md-6">
                              <label class="form-label">First Name&nbsp;<b> *</b></label>
                              <input type="text" placeholder="First Name"
                                     [ngClass]="{'is-invalid': !FirstName.valid && (FirstName.dirty || FirstName.touched || isSubmit)}"
                                     #FirstName="ngModel" required [(ngModel)]="formInput.FirstName" class="form-control">
                          </div>

                          <div class="col-md-6">
                              <label class="form-label">Last Name</label>
                              <input type="text" placeholder="Last Name"
                                     [ngClass]="{'is-invalid': !LastName.valid && (LastName.dirty || LastName.touched || isSubmit)}"
                                     #LastName="ngModel" required [(ngModel)]="formInput.LastName" class="form-control">
                          </div>

                          <div class="col-md-6">
                              <label class="form-label">Mobile Number&nbsp;<b> *</b></label>
                              <input type="number" placeholder="Mobile number" disabled
                                     [ngClass]="{'is-invalid':(MobileNumber.dirty || MobileNumber.touched || isSubmit)}"
                                     #MobileNumber="ngModel" required [(ngModel)]="formInput.MobileNumber" class="form-control">
                          </div>

                          <div class="col-md-6">
                              <label class="form-label">Email ID&nbsp;<b> *</b></label>
                              <input type="text" placeholder="Email ID"
                                     [ngClass]="{'is-invalid': !Email.valid && (Email.dirty || Email.touched || isSubmit)}"
                                     #Email="ngModel" required [(ngModel)]="formInput.Email" class="form-control">
                          </div>

                          <div class="col-md-6">
                              <label class="form-label">Office Time&nbsp;<b> *</b></label>
                              <div class="d-flex gap-2">
                                  <input type="time" placeholder="Start Time"
                                         [ngClass]="{'is-invalid': !OfficeStartTime.valid && (OfficeStartTime.dirty || OfficeStartTime.touched || isSubmit)}"
                                         #OfficeStartTime="ngModel" required [(ngModel)]="formInput.OfficeStartTime"
                                         class="form-control" style="width: 50%;" />

                                  <input type="time" placeholder="End Time"
                                         [ngClass]="{'is-invalid': !OfficeEndTime.valid && (OfficeEndTime.dirty || OfficeEndTime.touched || isSubmit)}"
                                         #OfficeEndTime="ngModel" required [(ngModel)]="formInput.OfficeEndTime"
                                         class="form-control" style="width: 50%;" />
                              </div>
                          </div>
                      </div>
                      <!-- Salary Cycle -->
                      <div class="form-group">
                          <br>
                          <div class="row row-sm">
                              <div class="col-md-6">
                                  <label class="form-label" style="font-weight: bold;">Salary Cycle</label>
                                  <div class="row">
                                      <div class="col-md-6">
                                          <label class="form-label">Start Date&nbsp;<b> *</b></label>
                                          <input type="number" placeholder="Enter Salary Day *" min="1" max="30"
                                                 (input)="validateSalaryDay($event)"
                                                 [ngClass]="{'is-invalid': !SalaryDay.valid && (SalaryDay.dirty || SalaryDay.touched || isSubmit)}"
                                                 #SalaryDay="ngModel" required [(ngModel)]="formInput.SalaryDay" class="form-control">
                                      </div>

                                      <div class="col-md-6">
                                          <label class="form-label">End Date&nbsp;<b> *</b></label>
                                          <input type="number" placeholder="{{MaxSalaryDay}}" disabled required class="form-control">
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <label class="form-label" style="font-weight: bold;">Financial Year</label>
                                  <div class="row">
                                      <div class="col-md-6">
                                          <label class="form-label">Start&nbsp;<b> *</b></label>
                                          <ng-select [items]="months" bindLabel="name" bindValue="id" [multiple]="false" [searchable]="true"
                                                     [(ngModel)]="formInput.Financialyearfrom" (ngModelChange)="onMonthChange($event)">
                                          </ng-select>
                                      </div>

                                      <div class="col-md-6">
                                          <label class="form-label">End</label>
                                          <ng-select [items]="months" [disabled]="true" bindLabel="name" bindValue="id" [multiple]="false"
                                                     [searchable]="true" [(ngModel)]="formInput.Financialyearto">
                                          </ng-select>
                                      </div>
                                  </div>
                              </div>

                             
                          </div>
                      </div>

                      <!-- Financial Year -->
                  
                      <div class="card-footer py-5">
                          <button class="btn btn-primary" style="border-radius: 10px; background-color: #3601b5a3;"
                                  (click)="UpdateProfile();">
                              Update Profile
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="card-header p-0">
                    <input id="searchInput" class="form-control" type="text" placeholder="Search location" />

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mt-3">
                            <br>
                            <div id="map" style="height: 300px; margin-top: 10px;"></div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">State&nbsp;<b> *</b></label>
                            <input type="text" placeholder="State"
                                   [ngClass]="{'is-invalid': !State.valid && (State.dirty || State.touched || isSubmit)}"
                                   #State="ngModel" required [(ngModel)]="formInput.State" class="form-control">
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">City&nbsp;<b> *</b></label>
                            <input type="text" placeholder="City"
                                   [ngClass]="{'is-invalid': !City.valid && (City.dirty || City.touched || isSubmit)}"
                                   #City="ngModel" required [(ngModel)]="formInput.City" class="form-control">
                        </div>
                        <div class="col-md-12 mt-3">
                            <label class="form-label">Address&nbsp;<b> *</b></label>
                            <textarea rows="2" placeholder="Address"
                                      [ngClass]="{'is-invalid': !Address.valid && (Address.dirty || Address.touched || isSubmit)}"
                                      #Address="ngModel" required [(ngModel)]="formInput.Address"
                                      class="form-control"></textarea>
                        </div>

                    </div>


                    

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    

    <!-- View Permission Denied -->
    <div *ngIf="!ViewPermission">
        <div class="page page-h">
            <div class="page-content z-index-10">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-lg-6 col-xl-6 col-md-6 d-block mx-auto">
                            <div class="text-black">
                                <div class="display-1 t mb-5">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                </div>
                                <h1 class="h2 mb-3">
                                    Authorization Error..<i class="fa fa-exclamation" aria-hidden="true"></i>
                                </h1>
                                <p class="h4 font-weight-normal mb-7 leading-normal">
                                    “Sorry, You Are Not Allowed to Access This Page”
                                </p>
                                <a routerLink="/dashboard/sales-dashboard" class="btn btn-primary"
                                   style="border-radius: 10px; background-color: #3601b5a3;">Back to Dashboard</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>