<div _ngcontent-kmd-c267="" class="row">
    <div _ngcontent-kmd-c267="" class="col-xl-6">
        <div _ngcontent-kmd-c267="" class="card">
            <div _ngcontent-kmd-c267="" class="card-header">
                <h3 _ngcontent-kmd-c267="" class="card-title">Tabs style1</h3>
            </div>
            <div _ngcontent-kmd-c267="" class="card-body p-6">
                <div _ngcontent-kmd-c267="" class="panel panel-primary">
                    <div _ngcontent-kmd-c267="" class="tab-menu-heading tab-menu-heading-boxed">
                        <div _ngcontent-kmd-c267="" class="tabs-menu">
                            <ul _ngcontent-kmd-c267="" ngbnav="" class="mb-3 nav" role="tablist">
                                <li _ngcontent-kmd-c267="" class="nav-item"><a _ngcontent-kmd-c267="" href=""
                                        ngbnavlink="" class="mb-4 nav-link" id="ngb-nav-54" role="tab"
                                        aria-selected="false" aria-disabled="false">tab 1</a><!----></li>
                                <li _ngcontent-kmd-c267="" class="nav-item"><a _ngcontent-kmd-c267="" href=""
                                        ngbnavlink="" class="mb-4 nav-link" id="ngb-nav-55" role="tab"
                                        aria-selected="false" aria-disabled="false">tab 2</a><!----></li>
                                <li _ngcontent-kmd-c267="" class="nav-item"><a _ngcontent-kmd-c267="" href=""
                                        ngbnavlink="" class="mb-4 nav-link active" id="ngb-nav-56" role="tab"
                                        aria-selected="true" aria-disabled="false" aria-controls="ngb-nav-56-panel">tab
                                        3</a><!----></li>
                                <li _ngcontent-kmd-c267="" class="nav-item"><a _ngcontent-kmd-c267="" href=""
                                        ngbnavlink="" class="mb-4 nav-link" id="ngb-nav-57" role="tab"
                                        aria-selected="false" aria-disabled="false">tab 4</a><!----></li>
                            </ul>
                            <div _ngcontent-kmd-c267="" class="tab-content"><!----><!---->
                                <div ngbnavpane="" class="tab-pane fade ng-star-inserted active show"
                                    id="ngb-nav-56-panel" role="tabpanel" aria-labelledby="ngb-nav-56">
                                    <p _ngcontent-kmd-c267="" class="ng-star-inserted"> over the years, sometimes by
                                        accident, sometimes on purpose (injected humour and the like </p>
                                    <p _ngcontent-kmd-c267="" class="ng-star-inserted"> Lorem ipsum dolor sit amet,
                                        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                                        dolore magna aliquyam erat, sed diam voluptua. At vero eos et </p><!---->
                                </div><!----><!----><!---->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div _ngcontent-kmd-c267="" class="col-xl-6">
        <div _ngcontent-kmd-c267="" class="card">
            <div _ngcontent-kmd-c267="" class="card-header">
                <h3 _ngcontent-kmd-c267="" class="card-title">Tabs Style2</h3>
            </div>
            <div _ngcontent-kmd-c267="" class="card-body p-6">
                <div _ngcontent-kmd-c267="" class="panel panel-primary">
                    <div _ngcontent-kmd-c267="" class="tab-menu-heading">
                        <div _ngcontent-kmd-c267="" class="tabs-menu1">
                            <ul _ngcontent-kmd-c267="" ngbnav="" role="tablist" class="nav">
                                <li _ngcontent-kmd-c267="" ngbnavitem="" class="nav-item"><a _ngcontent-kmd-c267=""
                                        href="" ngbnavlink="" id="ngb-nav-58" role="tab" aria-selected="false"
                                        aria-disabled="false" class="nav-link">Tab 1</a><!----></li>
                                <li _ngcontent-kmd-c267="" ngbnavitem="" class="nav-item"><a _ngcontent-kmd-c267=""
                                        href="" ngbnavlink="" id="ngb-nav-59" role="tab" aria-selected="false"
                                        aria-disabled="false" class="nav-link">Tab 2</a><!----></li>
                                <li _ngcontent-kmd-c267="" ngbnavitem="" class="nav-item"><a _ngcontent-kmd-c267=""
                                        href="" ngbnavlink="" id="ngb-nav-60" role="tab" aria-selected="false"
                                        aria-disabled="false" class="nav-link">Tab 3</a><!----></li>
                                <li _ngcontent-kmd-c267="" ngbnavitem="" class="nav-item"><a _ngcontent-kmd-c267=""
                                        href="" ngbnavlink="" id="ngb-nav-61" role="tab" aria-selected="true"
                                        aria-disabled="false" class="nav-link active"
                                        aria-controls="ngb-nav-61-panel">Tab 4</a><!----></li>
                            </ul>
                        </div>
                    </div>
                    <div _ngcontent-kmd-c267="" class="panel-body tabs-menu-body">
                        <div _ngcontent-kmd-c267="">
                            <div _ngcontent-kmd-c267="" class="tab-content"><!----><!----><!---->
                                <div ngbnavpane="" class="tab-pane fade ng-star-inserted active show"
                                    id="ngb-nav-61-panel" role="tabpanel" aria-labelledby="ngb-nav-61">
                                    <p _ngcontent-kmd-c267="" class="ng-star-inserted"> default model text, and a search
                                        for 'lorem ipsum' will uncover many web sites still in their infancy. Various
                                        versions have evolved over the years, sometimes by accident, sometimes on
                                        purpose (injected humour and the like </p>
                                    <p _ngcontent-kmd-c267="" class="ng-star-inserted"> Lorem ipsum dolor sit amet,
                                        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                                        dolore magna aliquyam erat, sed diam voluptua. At vero eos et </p><!---->
                                </div><!----><!---->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div _ngcontent-kmd-c267="" class="col-md-12">
        <div _ngcontent-kmd-c267="" class="card">
            <div _ngcontent-kmd-c267="" class="card-header">
                <h3 _ngcontent-kmd-c267="" class="card-title">Tabs Style3</h3>
            </div>
            <div _ngcontent-kmd-c267="" class="card-body p-5">
                <div _ngcontent-kmd-c267="" class="tab-menu-heading tab-menu-heading-boxed">
                    <div _ngcontent-kmd-c267="" class="tabs-menu tabs-menu-boxed">
                        <ul _ngcontent-kmd-c267="" ngbnav="" class="nav-pills nav" role="tablist">
                            <li _ngcontent-kmd-c267="" ngbnavitem="" class="nav-item"><a _ngcontent-kmd-c267="" href=""
                                    ngbnavlink="" id="ngb-nav-62" role="tab" aria-controls="ngb-nav-62-panel"
                                    aria-selected="true" aria-disabled="false" class="nav-link active">Tab 1</a><!---->
                            </li>
                            <li _ngcontent-kmd-c267="" ngbnavitem="" class="nav-item"><a _ngcontent-kmd-c267="" href=""
                                    ngbnavlink="" id="ngb-nav-63" role="tab" aria-selected="false" aria-disabled="false"
                                    class="nav-link">Tab 2</a><!----></li>
                            <li _ngcontent-kmd-c267="" ngbnavitem="" class="nav-item"><a _ngcontent-kmd-c267="" href=""
                                    ngbnavlink="" id="ngb-nav-64" role="tab" aria-selected="false" aria-disabled="false"
                                    class="nav-link">Tab 3</a><!----></li>
                            <li _ngcontent-kmd-c267="" ngbnavitem="" class="nav-item"><a _ngcontent-kmd-c267="" href=""
                                    ngbnavlink="" id="ngb-nav-65" role="tab" aria-selected="false" aria-disabled="false"
                                    class="nav-link">Tab 4</a><!----></li>
                        </ul>
                        <div _ngcontent-kmd-c267="" class="content_wrapper">
                            <div _ngcontent-kmd-c267="" class="tab-content">
                                <div ngbnavpane="" class="tab-pane fade show active ng-star-inserted"
                                    id="ngb-nav-62-panel" role="tabpanel" aria-labelledby="ngb-nav-62">
                                    <p _ngcontent-kmd-c267="" class="ng-star-inserted"> It is a long established fact
                                        that a reader will be distracted by the readable content of a page when looking
                                        at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                                        normal distribution of letters, as opposed to using 'Content here, content
                                        here', making it look like readable English. Many desktop publishing packages
                                        and web page editors now use Lorem Ipsum as their default model text, and a
                                        search for 'lorem ipsum' will uncover many web sites still in their infancy.
                                        Various versions have evolved over the years, sometimes by accident, sometimes
                                        on purpose (injected humour and the like) It is a long established fact that a
                                        reader will be distracted by the readable content of a page when looking at its
                                        layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                                        distribution of letters, as opposed to using 'Content here, content here',
                                        making it look like readable English. Many desktop publishing packages and web
                                        page editors now use Lorem Ipsum as their default model text, and a search for
                                        'lorem ipsum' will uncover many web sites still in their infancy. Various
                                        versions have evolved over the years, sometimes by accident, sometimes on
                                        purpose (injected humour and the like). </p><!---->
                                </div><!----><!----><!----><!----><!---->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div _ngcontent-kmd-c267="" class="col-xl-6">
        <div _ngcontent-kmd-c267="" class="card">
            <div _ngcontent-kmd-c267="" class="card-header">
                <h3 _ngcontent-kmd-c267="" class="card-title">Tabs style4</h3>
            </div>
            <div _ngcontent-kmd-c267="" class="card-body">
                <div _ngcontent-kmd-c267="" class="panel panel-primary">
                    <div _ngcontent-kmd-c267="" class="tab-menu-heading tab-menu-heading-boxed">
                        <div _ngcontent-kmd-c267="" class="tabs-menu">
                            <ul _ngcontent-kmd-c267="" ngbnav="" role="tablist" class="nav">
                                <li _ngcontent-kmd-c267="" ngbnavitem="" class="nav-item"><a _ngcontent-kmd-c267=""
                                        href="" ngbnavlink="" data-bs-toggle="tab" id="ngb-nav-66" role="tab"
                                        aria-selected="true" aria-disabled="false" class="nav-link active"
                                        aria-controls="ngb-nav-66-panel"><span _ngcontent-kmd-c267=""><i
                                                _ngcontent-kmd-c267="" class="fe fe-user me-1"></i></span>Tab
                                        1</a><!----></li>
                                <li _ngcontent-kmd-c267="" ngbnavitem="" class="nav-item"><a _ngcontent-kmd-c267=""
                                        href="" ngbnavlink="" data-bs-toggle="tab" id="ngb-nav-67" role="tab"
                                        aria-selected="false" aria-disabled="false" class="nav-link"><span
                                            _ngcontent-kmd-c267=""><i _ngcontent-kmd-c267=""
                                                class="fe fe-calendar me-1"></i></span>Tab 2</a><!----></li>
                                <li _ngcontent-kmd-c267="" ngbnavitem="" class="nav-item"><a _ngcontent-kmd-c267=""
                                        href="#tab11" ngbnavlink="" data-bs-toggle="tab" id="ngb-nav-68" role="tab"
                                        aria-selected="false" aria-disabled="false" class="nav-link"><span
                                            _ngcontent-kmd-c267=""><i _ngcontent-kmd-c267=""
                                                class="fe fe-settings me-1"></i></span>Tab 3</a><!----></li>
                                <li _ngcontent-kmd-c267="" ngbnavitem="" class="nav-item"><a _ngcontent-kmd-c267=""
                                        href="#tab12" ngbnavlink="" data-bs-toggle="tab" id="ngb-nav-69" role="tab"
                                        aria-selected="false" aria-disabled="false" class="nav-link"><span
                                            _ngcontent-kmd-c267=""><i _ngcontent-kmd-c267=""
                                                class="fe fe-bell me-1"></i></span>Tab 4</a><!----></li>
                            </ul>
                        </div>
                    </div>
                    <div _ngcontent-kmd-c267="" class="panel-body tabs-menu-body">
                        <div _ngcontent-kmd-c267="" class="tab-content">
                            <div _ngcontent-kmd-c267="" class="tab-content">
                                <div ngbnavpane="" class="tab-pane fade ng-star-inserted active show"
                                    id="ngb-nav-66-panel" role="tabpanel" aria-labelledby="ngb-nav-66">
                                    <p _ngcontent-kmd-c267="" class="ng-star-inserted"> page editors now use Lorem Ipsum
                                        as their default model on purpose (injected humour and the like </p>
                                    <p _ngcontent-kmd-c267="" class="ng-star-inserted"> Lorem ipsum dolor sit amet,
                                        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                                        dolore magna aliquyam. </p><!---->
                                </div><!----><!----><!----><!----><!---->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div _ngcontent-kmd-c267="" class="col-xl-6">
        <div _ngcontent-kmd-c267="" class="card">
            <div _ngcontent-kmd-c267="" class="card-header">
                <h3 _ngcontent-kmd-c267="" class="card-title">Tabs Style5</h3>
            </div>
            <div _ngcontent-kmd-c267="" class="card-body p-6">
                <div _ngcontent-kmd-c267="" class="panel panel-primary">
                    <div _ngcontent-kmd-c267="" class="d-sm-flex tab_wrapper d-block tab-style5 align-items-start">
                        <ul _ngcontent-kmd-c267="" ngbnav="" orientation="vertical"
                            class="nav panel-tabs panel-primary flex-column nav-pills me-4" aria-orientation="vertical"
                            role="tablist">
                            <li _ngcontent-kmd-c267="" ngbnavitem="" class="tab_content nav-item"><a
                                    _ngcontent-kmd-c267="" href="" ngbnavlink="" id="ngb-nav-70" role="tab"
                                    aria-controls="ngb-nav-70-panel" aria-selected="true" aria-disabled="false"
                                    class="nav-link active">Home</a><!----></li>
                            <li _ngcontent-kmd-c267="" ngbnavitem="" class="nav-item"><a _ngcontent-kmd-c267="" href=""
                                    ngbnavlink="" id="ngb-nav-71" role="tab" aria-selected="false" aria-disabled="false"
                                    class="nav-link">Profile</a><!----></li>
                            <li _ngcontent-kmd-c267="" ngbnavitem="" class="nav-item"><a _ngcontent-kmd-c267="" href=""
                                    ngbnavlink="" id="ngb-nav-72" role="tab" aria-selected="false" aria-disabled="false"
                                    class="nav-link">Massage</a><!----></li>
                            <li _ngcontent-kmd-c267="" ngbnavitem="" class="nav-item"><a _ngcontent-kmd-c267="" href=""
                                    ngbnavlink="" id="ngb-nav-73" role="tab" aria-selected="false" aria-disabled="false"
                                    class="nav-link">Settings</a><!----></li>
                        </ul>
                        <div _ngcontent-kmd-c267="" class="ms-4 tab-content">
                            <div ngbnavpane="" class="tab-pane fade show active ng-star-inserted" id="ngb-nav-70-panel"
                                role="tabpanel" aria-labelledby="ngb-nav-70">
                                <p _ngcontent-kmd-c267="" class="ng-star-inserted"> Raw denim you probably haven't heard
                                    of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master
                                    cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
                                    butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry
                                    richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis
                                    cardigan american apparel, butcher voluptate nisi qui. </p><!---->
                            </div><!----><!----><!----><!----><!---->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div _ngcontent-kmd-c267="" class="col-md-12">
        <div _ngcontent-kmd-c267="" class="card">
            <div _ngcontent-kmd-c267="" class="card-header">
                <h3 _ngcontent-kmd-c267="" class="card-title">Tabs on right side</h3>
            </div>
            <div _ngcontent-kmd-c267="" class="card-body p-6">
                <div _ngcontent-kmd-c267="" class="d-lg-flex d-flex tab-style6 align-items-start">
                    <ul _ngcontent-kmd-c267="" ngbnav="" orientation="vertical" class="nav-pills nav flex-column"
                        aria-orientation="vertical" role="tablist">
                        <li _ngcontent-kmd-c267="" ngbnavitem="" class="nav-item"><a _ngcontent-kmd-c267="" href=""
                                ngbnavlink="" id="ngb-nav-74" role="tab" aria-controls="ngb-nav-74-panel"
                                aria-selected="true" aria-disabled="false" class="nav-link active">Home</a><!----></li>
                        <li _ngcontent-kmd-c267="" ngbnavitem="" class="nav-item"><a _ngcontent-kmd-c267="" href=""
                                ngbnavlink="" id="ngb-nav-75" role="tab" aria-selected="false" aria-disabled="false"
                                class="nav-link">Profile</a><!----></li>
                        <li _ngcontent-kmd-c267="" ngbnavitem="" class="nav-item"><a _ngcontent-kmd-c267="" href=""
                                ngbnavlink="" id="ngb-nav-76" role="tab" aria-selected="false" aria-disabled="false"
                                class="nav-link">Massage</a><!----></li>
                        <li _ngcontent-kmd-c267="" ngbnavitem="" class="nav-item"><a _ngcontent-kmd-c267="" href=""
                                ngbnavlink="" id="ngb-nav-77" role="tab" aria-selected="false" aria-disabled="false"
                                class="nav-link">Settings</a><!----></li>
                    </ul>
                    <div _ngcontent-kmd-c267="" class="ms-4 tab-content">
                        <div ngbnavpane="" class="tab-pane fade show active ng-star-inserted" id="ngb-nav-74-panel"
                            role="tabpanel" aria-labelledby="ngb-nav-74">
                            <p _ngcontent-kmd-c267="" class="ng-star-inserted"> Raw denim you probably haven't heard of
                                them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master squid.
                                Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel,
                                butcher voluptate nisi qui. </p><!---->
                        </div><!----><!----><!----><!----><!---->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>