<div _ngcontent-vpk-c88="" class="sidebar sidebar-right sidebar-animate">
    <div _ngcontent-vpk-c88=""><a _ngcontent-vpk-c88="" href="javascript:void(0);" data-bs-toggle="sidebar-right"
            data-bs-target=".sidebar-right" class="sidebar-icon text-end float-end"><i _ngcontent-vpk-c88=""
                class="fa fa-x"></i></a></div>
    <div _ngcontent-vpk-c88="" class="p-3 border-bottom">
        <h5 _ngcontent-vpk-c88="" class="border-bottom-0 mb-0">General Settings</h5>
    </div>
    <div _ngcontent-vpk-c88="" class="p-4">
        <div _ngcontent-vpk-c88="" class="switch-settings">
            <div _ngcontent-vpk-c88="" class="d-flex mb-2"><span _ngcontent-vpk-c88=""
                    class="me-auto fs-15">Notifications</span><label _ngcontent-vpk-c88="" class="custom-switch"><input
                        _ngcontent-vpk-c88="" type="checkbox" name="custom-switch-checkbox"
                        class="custom-switch-input"><span _ngcontent-vpk-c88=""
                        class="custom-switch-indicator"></span></label></div>
            <div _ngcontent-vpk-c88="" class="d-flex mb-2"><span _ngcontent-vpk-c88="" class="me-auto fs-15">Show your
                    emails</span><label _ngcontent-vpk-c88="" class="custom-switch"><input _ngcontent-vpk-c88=""
                        type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"><span
                        _ngcontent-vpk-c88="" class="custom-switch-indicator"></span></label></div>
            <div _ngcontent-vpk-c88="" class="d-flex mb-2"><span _ngcontent-vpk-c88="" class="me-auto fs-15">Show Task
                    statistics</span><label _ngcontent-vpk-c88="" class="custom-switch"><input _ngcontent-vpk-c88=""
                        type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"><span
                        _ngcontent-vpk-c88="" class="custom-switch-indicator"></span></label></div>
            <div _ngcontent-vpk-c88="" class="d-flex mb-2"><span _ngcontent-vpk-c88="" class="me-auto fs-15">Show recent
                    activity</span><label _ngcontent-vpk-c88="" class="custom-switch"><input _ngcontent-vpk-c88=""
                        type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"><span
                        _ngcontent-vpk-c88="" class="custom-switch-indicator"></span></label></div>
            <div _ngcontent-vpk-c88="" class="d-flex mb-2"><span _ngcontent-vpk-c88="" class="me-auto fs-15">System
                    Logs</span><label _ngcontent-vpk-c88="" class="custom-switch"><input _ngcontent-vpk-c88=""
                        type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"><span
                        _ngcontent-vpk-c88="" class="custom-switch-indicator"></span></label></div>
            <div _ngcontent-vpk-c88="" class="d-flex mb-2"><span _ngcontent-vpk-c88="" class="me-auto fs-15">Error
                    Reporting</span><label _ngcontent-vpk-c88="" class="custom-switch"><input _ngcontent-vpk-c88=""
                        type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"><span
                        _ngcontent-vpk-c88="" class="custom-switch-indicator"></span></label></div>
            <div _ngcontent-vpk-c88="" class="d-flex mb-2"><span _ngcontent-vpk-c88="" class="me-auto fs-15">Show your
                    status to all</span><label _ngcontent-vpk-c88="" class="custom-switch"><input _ngcontent-vpk-c88=""
                        type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"><span
                        _ngcontent-vpk-c88="" class="custom-switch-indicator"></span></label></div>
            <div _ngcontent-vpk-c88="" class="d-flex mb-2"><span _ngcontent-vpk-c88="" class="me-auto fs-15">Keep up to
                    date</span><label _ngcontent-vpk-c88="" class="custom-switch"><input _ngcontent-vpk-c88=""
                        type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"><span
                        _ngcontent-vpk-c88="" class="custom-switch-indicator"></span></label></div>
        </div>
    </div>
    <div _ngcontent-vpk-c88="" class="p-3 border-bottom">
        <h5 _ngcontent-vpk-c88="" class="border-bottom-0 mb-0">Overview</h5>
    </div>
    <div _ngcontent-vpk-c88="" class="p-4">
        <div _ngcontent-vpk-c88="" class="progress-wrapper">
            <div _ngcontent-vpk-c88="" class="mb-3">
                <p _ngcontent-vpk-c88="" class="mb-2">Achieves<span _ngcontent-vpk-c88=""
                        class="float-end text-muted font-weight-normal">80%</span></p>
                <div _ngcontent-vpk-c88="" class="progress h-1">
                    <div _ngcontent-vpk-c88="" role="progressbar" class="progress-bar bg-primary w-80"></div>
                </div>
            </div>
        </div>
        <div _ngcontent-vpk-c88="" class="progress-wrapper pt-2">
            <div _ngcontent-vpk-c88="" class="mb-3">
                <p _ngcontent-vpk-c88="" class="mb-2">Projects<span _ngcontent-vpk-c88=""
                        class="float-end text-muted font-weight-normal">60%</span></p>
                <div _ngcontent-vpk-c88="" class="progress h-1">
                    <div _ngcontent-vpk-c88="" role="progressbar" class="progress-bar bg-secondary w-60"></div>
                </div>
            </div>
        </div>
        <div _ngcontent-vpk-c88="" class="progress-wrapper pt-2">
            <div _ngcontent-vpk-c88="" class="mb-3">
                <p _ngcontent-vpk-c88="" class="mb-2">Earnings<span _ngcontent-vpk-c88=""
                        class="float-end text-muted font-weight-normal">50%</span></p>
                <div _ngcontent-vpk-c88="" class="progress h-1">
                    <div _ngcontent-vpk-c88="" role="progressbar" class="progress-bar bg-success w-50"></div>
                </div>
            </div>
        </div>
        <div _ngcontent-vpk-c88="" class="progress-wrapper pt-2">
            <div _ngcontent-vpk-c88="" class="mb-3">
                <p _ngcontent-vpk-c88="" class="mb-2">Balance<span _ngcontent-vpk-c88=""
                        class="float-end text-muted font-weight-normal">45%</span></p>
                <div _ngcontent-vpk-c88="" class="progress h-1">
                    <div _ngcontent-vpk-c88="" role="progressbar" class="progress-bar bg-warning w-45"></div>
                </div>
            </div>
        </div>
        <div _ngcontent-vpk-c88="" class="progress-wrapper pt-2">
            <div _ngcontent-vpk-c88="" class="mb-3">
                <p _ngcontent-vpk-c88="" class="mb-2">Toatal Profits<span _ngcontent-vpk-c88=""
                        class="float-end text-muted font-weight-normal">75%</span></p>
                <div _ngcontent-vpk-c88="" class="progress h-1">
                    <div _ngcontent-vpk-c88="" role="progressbar" class="progress-bar bg-danger w-75"></div>
                </div>
            </div>
        </div>
        <div _ngcontent-vpk-c88="" class="progress-wrapper pt-2">
            <div _ngcontent-vpk-c88="" class="mb-3">
                <p _ngcontent-vpk-c88="" class="mb-2">Total Likes<span _ngcontent-vpk-c88=""
                        class="float-end text-muted font-weight-normal">70%</span></p>
                <div _ngcontent-vpk-c88="" class="progress h-1">
                    <div _ngcontent-vpk-c88="" role="progressbar" class="progress-bar bg-teal w-70"></div>
                </div>
            </div>
        </div>
    </div>
</div>