<div>
    <!-- <label class="button" (click)="backtolist()"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back</label> -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="justify-content: space-between;">
                    <div>
                        <span class="filelabels" style="font-size: 12px;color: #978f8f">Asset Assign List</span>
                        <h3 class="mb-0 card-title filelabels">{{userData?.Name}}</h3>
                      <!-- <h3 class="mb-0 card-title filelabels">{{UserName}} </h3>
                      <span class="filelabels" style="font-size: 10px;">Total Asset Assigned</span> -->
                    </div>
                </div>
                <div class="maincards" *ngIf="AssignedUserList">
                    <div class="chip3" *ngFor="let c of chipsData">
                        <h3 class="chip3-value">{{userData?.[c.key]}}</h3>
                        <label class="chip3-title">{{c.text}}</label>
                    </div>
                </div>
                 <div class="card-body">
                    <div class="table-responsive">
                        <!-- <h4 style="text-align: end;font-size: 14px;font-weight: 500;">Last Updated : {{lastAssignedDate | date:'dd-MMM-yyyy'}}</h4> -->
                        <app-common-table [data]="AssignedUserList"[displayColumns]="displayColumns" [Loading]="employeeLoading" [displayedColumns]="displayedColumns"   
                        [editableColumns]="editableColumns" [actions]="actionOptions" [dataColors]="tableDataColors"
                        (actionEmitter)="actionEmitter($event)" ></app-common-table>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
<!-- 
<ng-container *ngIf="showAssign==true">
    <label class="button" (click)="backtoAssignlist()" ><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back</label>
    <app-asset-assign [showAssignType]="showAssignType" [showAssignData]="showAssignData" (close)="backtoAssignlist()"></app-asset-assign>
</ng-container> -->