<div class="dialogs">
    <h4>Select Address for {{data.name}}</h4>
    <div class="container row" style="padding: 0;">
        <ng-container *ngFor="let add of data.Address">
            <div class="col-md-5 addresstab" [ngClass]="{'selected':  selectedAddressdetails == add.Address}" 
            (click)="selectedAddress(add.Address)">
                <h5>{{add.Address}}</h5>
            </div>
        </ng-container>
        
    </div>
    <button class="btn btn-primary" style="width: auto;margin-top: 20px;" (click)="Submit()">Submit</button>
</div>
