<div class="dialogs">
    <div style="display: flex;justify-content: end;">
        <i class="fa fa-times" style="font-size: 25px;" (click)="close()"></i>
    </div>
    <div class="row">
        <div  class="card-body">
            <!-- <h2 style="font-weight: bold;text-align: center;" > Reports</h2> -->
            <div  class="example" style="padding: 1rem; border: 5px solid rgba(227, 231, 241, .8);border-radius: 3px;">
                <ul  class="nav1 bg-pagar br-5" style="padding: 5px;border-radius:25px;">
                    <li  style="color: white;" class="nav-item1" (click)="Navigate('Messages')">
                        <i class="fa fa-comments"></i> &nbsp;Create Message
                                        </li>
                </ul>
                <br>
                <ul  class="nav1 bg-pagar br-5" style="padding: 5px;border-radius:25px">
                    <li  style="color: white;" class="nav-item1" (click)="Navigate('Banners')">
                        <i class="fa fa-picture-o"></i> &nbsp;Banners List
                    </li>
                </ul>
               
    </div>
    </div>
    </div>
        </div>