<div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-md-12">
                        <div><h3 class="mb-0 card-title">Deleted Employees</h3></div>
                    </div>
                </div>
                <div class="card-body">
                    <div style="display: flex;flex-wrap: wrap;">
                        <div class="col-md-3" >
                            <label class="form-label">Select Organization</label>
                            <ng-multiselect-dropdown [placeholder]="'All Organizations'" [(ngModel)]="selectedOrganization" [data]="OrgList"
                                [settings]="orgSettings" (onSelect)="onselectedOrg($event)"
                                (onDeSelect)="onDeselectedOrg($event)">
                            </ng-multiselect-dropdown>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Select Branch</label>
                            <ng-multiselect-dropdown [placeholder]="'Select Branch'" [data]="BranchList"
                                [(ngModel)]="selectedBranch" (onSelect)="onBranchSelect($event)"
                                (onDeSelect)="onBranchDeSelect($event)" [settings]="branchSettings">
                            </ng-multiselect-dropdown>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Select Department</label>
                            <ng-multiselect-dropdown [placeholder]="'All Department'" [data]="DepartmentList"
                                [(ngModel)]="selectedDepartment" (onSelect)="onDeptSelect($event)"
                                (onDeSelect)="onDeptDeSelect($event)" [settings]="departmentSettings">
                            </ng-multiselect-dropdown>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">Action</label>
                            <button class="btn btn-primary mb-4" (click)="getDeletedEmp()"> Search</button> &nbsp;
                        </div>

                    </div>
                 </div>
                 <div class="card-body">
                    <div class="table-responsive ng-star-inserted"></div>
<!-- common table -->
<app-common-table [data]="DeletedData" [ExportName]="'Deleted Employee List'" [displayColumns]="displayColumns" [Loading]="employeeLoading" [displayedColumns]="displayedColumns" [editableColumns]="editableColumns" [actions]="actionOptions" [headerColors]="headerColors"
[smallHeaders]="smallHeaders" [ReportTitles]="ReportTitles" (actionEmitter)="actionEmitter($event)"></app-common-table>
<!-- end here --> 
       </div>
            </div>
        </div>
    </div>
    </div>