<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-md-10 col-9">
                            <i class="fa fa-calendar-minus-o" aria-hidden="true"></i> &nbsp;&nbsp; Leave Type Master Configuration

                        </div>
                        <div class="col-md-2 col-3">
                            <button type="button" class="btn btn-sm  btn-secondary" (click)="openAddDialog()"><i class="fa fa-plus"></i>&nbsp;ADD NEW </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>