<!-- 
<div  class="row row-cards">
    <div  class="col-xl-12 col-lg-12">
        <div  class="row">
            <div  class="col-sm-2 col-md-2 col-xl-2 alert">
                <div  class="card item-card" style="border-radius: 40px;">
                    <div  class="product-grid6 card-body">
                        <div  class="product-image6">
                          
                            <a (click)="GetAccessStatus('Attendance');">
                                <img  src="./assets/images/Banner/Icons/attendance.png" style="height: 120px;width: 120px;"></a>
                            </div><div  class="product-content text-center">
                                <div  class="mb-2 text-warning">
                                </div>
                                <h4  class="title">My Attendance</h4>
                            </div>
                        </div>
                    </div></div>
                    <div  class="col-sm-2 col-md-2 col-xl-2 alert">
                        <div  class="card item-card" style="border-radius: 40px;">
                            <div  class="product-grid6 card-body">
                                <div  class="product-image6">
                                    <a (click)="GetAccessStatus('Leave');">
                                        <img  src="./assets/images/Banner/Icons/leave.png" style="height: 120px;width: 120px;"></a>
                                    </div><div  class="product-content text-center">
                                        <div  class="mb-2 text-warning">
                                        </div>
                                        <h4  class="title">Apply Leave</h4>
                                    </div>
                                </div>
                            </div></div>
                            <div  class="col-sm-2 col-md-2 col-xl-2 alert">
                                <div  class="card item-card" style="border-radius: 40px;">
                                    <div  class="product-grid6 card-body">
                                        <div  class="product-image6">
                                            <a (click)="GetAccessStatus('Loan');">
                                                <img  src="./assets/images/Banner/Icons/loan.png" style="height: 120px;width: 120px;"></a>
                                            </div><div  class="product-content text-center">
                                                <div  class="mb-2 text-warning">
                                                </div>
                                                <h4  class="title">Apply Loan</h4>
                                            </div>
                                        </div>
                                    </div></div>
                            <div  class="col-sm-2 col-md-2 col-xl-2 alert">
                                <div  class="card item-card" style="border-radius: 40px;">
                                    <div  class="product-grid6 card-body">
                                        <div  class="product-image6">
                                            <a (click)="openDialog('Reports');">
                                                <img  src="./assets/images/Banner/Icons/Reports.png" style="height: 120px;width: 120px;"></a>
                                            </div><div  class="product-content text-center">
                                                <div  class="mb-2 text-warning">
                                                </div>
                                                <h4  class="title">My Reports</h4>
                                            </div>
                                        </div>
                                    </div></div>
                                    <div  class="col-sm-2 col-md-2 col-xl-2 alert">
                                        <div  class="card item-card" style="border-radius: 40px;">
                                            <div  class="product-grid6 card-body">
                                                <div  class="product-image6">
                                                    <a (click)="GetAccessStatus('Expense');">
                                                        <img  src="./assets/images/Banner/Icons/expense.png" style="height: 120px;width: 120px;"></a>
                                                    </div><div  class="product-content text-center">
                                                        <div  class="mb-2 text-warning">
                                                        </div>
                                                        <h4  class="title">My Expenses</h4>
                                                    </div>
                                                </div>
                                            </div></div>
                                    <div  class="col-sm-2 col-md-2 col-xl-2 alert">
                                        <div  class="card item-card" style="border-radius: 40px;">
                                            <div  class="product-grid6 card-body">
                                                <div  class="product-image6">
                                                    <a (click)="GetAccessStatus('Message');">
                                                        <img  src="./assets/images/Banner/Icons/message.png" style="height: 120px;width: 120px;"></a>
                                                    </div><div  class="product-content text-center">
                                                        <div  class="mb-2 text-warning">
                                                        </div>
                                                        <h4  class="title">Messages</h4>
                                                    </div>
                                                </div>
                                            </div></div>
                                          
                                                                       
</div>
                                                        </div>
 </div> -->
 <div  class="row row-cards">
    <div  class="col-xl-12 col-lg-12">
        <div  class="d-flex" style="display: flex;padding:10px;flex-wrap: wrap;justify-content: space-between;">
            <div  class="" style="text-align: -webkit-center;">
                <div  class="innercard">
                    <div  class="" style="padding:10px">
                        <div  class="">
                            <a (click)="GetAccessStatus('Attendance');">
                                <img  src="./assets/images/Banner/Icons/createmployee.png" class="dashboardimage"></a>
                            </div><div  class="product-content text-center">
                                <div  class="text-warning">
                                </div>
                                <h4  class="title">My<br> Attendance</h4>
                            </div>
                        </div>
                    </div></div>
                    <div  class="" style="text-align: -webkit-center;">
                        <div  class="innercard">
                            <div  class="" style="padding:10px">
                                <div  class="">
                                     <a (click)="GetAccessStatus('Leave');">
                                        <img  src="./assets/images/Banner/Icons/leave.png" class="dashboardimage"></a>
                                    </div><div  class="product-content text-center">
                                        <div  class="text-warning">
                                        </div>
                                      <h4  class="title">Apply Leave</h4>
                                    </div>
                                </div>
                            </div></div>
                            <div  class="" style="text-align: -webkit-center;">
                                <div  class="innercard">
                                    <div  class="" style="padding:10px">
                                        <div  class="">
                                            <a (click)="openDialog('Reports');">
                                                <img  src="./assets/images/Banner/Icons/Reports.png" class="dashboardimage"></a>
                                            </div><div  class="product-content text-center">
                                                <div  class="text-warning">
                                                </div>
                                                <h4  class="title">My Reports</h4>
                                            </div>
                                        </div>
                                    </div></div>
                            <div  class="" style="text-align: -webkit-center;">
                                <div  class="innercard">
                                    <div  class="" style="padding:10px">
                                        <div  class="">
                                             <a (click)="GetAccessStatus('Expense');">
                                                <img  src="./assets/images/Banner/Icons/expense.png" class="dashboardimage"></a>
                                            </div><div  class="product-content text-center">
                                                <div  class="text-warning">
                                                </div>
                                                 <h4  class="title">My Expenses</h4>
                                            </div>
                                        </div>
                                    </div></div>
                                    <div  class="" style="text-align: -webkit-center;">
                                        <div  class="innercard">
                                            <div  class="" style="padding:10px">
                                                <div  class="">
                                                  <a (click)="GetAccessStatus('Loan');">
                                                        <img  src="./assets/images/Banner/Icons/loan.png" class="dashboardimage"></a>
                                                    </div><div  class="product-content text-center">
                                                        <div  class="text-warning">
                                                        </div>
                                                         <h4  class="title">Apply Loan</h4>
                                                    </div>
                                                </div>
                                            </div></div>
                                            <div  class="" style="text-align: -webkit-center;">
                                                <div  class="innercard">
                                                    <div  class="" style="padding:10px">
                                                        <div  class="">
                                                           <a (click)="GetAccessStatus('Message');">
                                                                <img  src="./assets/images/Banner/Icons/Message.png" class="dashboardimage"></a>
                                                            </div><div  class="product-content text-center">
                                                                <div  class="text-warning">
                                                                </div>
                                                                <h4  class="title">Messages</h4>
                                                            </div>
                                                        </div>
                                                    </div></div>
                                                                       
</div>
                                                        </div>
</div>


                        
         


<div  class="row">
    <div  class="col-md-12">
        <div  class="" style="border-radius: 40px;">
            <div  class="" style="padding:10px">
                <div  class="row">

                <ngb-carousel data-interval="5" style="width: auto;height: auto; padding-left: 30px; padding-right: 30px">
                    <ng-template ngbSlide *ngFor="let IL of BannerList">
                            <img src="{{IL.BannerImage}}" alt="Random first slide">
                    </ng-template>
                   
            </ngb-carousel>
            </div>
            </div>
            </div>
            </div>
            </div>
            