<div _ngcontent-vpk-c111="" class="switcher-wrapper">
    <div _ngcontent-vpk-c111="" class="demo_changer">
        <div _ngcontent-vpk-c111="" class="form_holder sidebar-right1 ps ps--active-y"><ng-scrollbar
                _ngcontent-vpk-c111="" _nghost-vpk-c104="" class="ng-scrollbar">
                <div _ngcontent-vpk-c104="" class="ng-scrollbar-wrapper" position="native" track="vertical"
                    appearance="compact" visibility="native" deactivated="false" dir="ltr"
                    pointereventsmethod="viewport" verticalused="true" horizontalused="false"
                    isverticallyscrollable="true" ishorizontallyscrollable="false">
                    <div _ngcontent-vpk-c104="" class="ng-scroll-viewport-wrapper">
                        <div _ngcontent-vpk-c104="" scrollviewport="" hidenativescrollbar=""
                            class="ng-native-scrollbar-hider ng-scroll-viewport " style="--native-scrollbar-size:0px;">
                            <div _ngcontent-vpk-c104="" class="ng-scroll-content">
                                <div _ngcontent-vpk-c111="" class="row">
                                    <div _ngcontent-vpk-c111="" class="predefined_styles">
                                        <div _ngcontent-vpk-c111="" class="swichermainleft text-center">
                                            <div _ngcontent-vpk-c111="" class="p-3 d-grid gap-2"><a
                                                    _ngcontent-vpk-c111="" href="https://angular.spruko.com/yoha/"
                                                    class="btn ripple btn-primary mt-0">View Demo</a><a
                                                    _ngcontent-vpk-c111="" class="btn ripple btn-secondary">Buy
                                                    Now</a><a _ngcontent-vpk-c111=""
                                                    href="https://themeforest.net/user/spruko/portfolio"
                                                    class="btn ripple btn-pink">Our Portfolio</a></div>
                                        </div>
                                        <div _ngcontent-vpk-c111="" class="swichermainleft">
                                            <h4 _ngcontent-vpk-c111="">Navigation Style</h4>
                                            <div _ngcontent-vpk-c111="" class="skin-body">
                                                <div _ngcontent-vpk-c111="" class="switch_section">
                                                    <div _ngcontent-vpk-c111="" class="switch-toggle d-flex"><span
                                                            _ngcontent-vpk-c111="" class="me-auto">Vertical Menu</span>
                                                        <p _ngcontent-vpk-c111="" class="onoffswitch2 my-0"><input
                                                                _ngcontent-vpk-c111="" type="radio" name="onoffswitch15"
                                                                id="myonoffswitch34" checked=""
                                                                class="onoffswitch2-checkbox"><label
                                                                _ngcontent-vpk-c111="" for="myonoffswitch34"
                                                                class="onoffswitch2-label"></label></p>
                                                    </div>
                                                    <div _ngcontent-vpk-c111="" class="switch-toggle d-flex mt-2"><span
                                                            _ngcontent-vpk-c111="" class="me-auto">Horizontal Click
                                                            Menu</span>
                                                        <p _ngcontent-vpk-c111="" class="onoffswitch2 my-0"><input
                                                                _ngcontent-vpk-c111="" type="radio" name="onoffswitch15"
                                                                id="myonoffswitch35"
                                                                class="onoffswitch2-checkbox"><label
                                                                _ngcontent-vpk-c111="" for="myonoffswitch35"
                                                                class="onoffswitch2-label"></label></p>
                                                    </div>
                                                    <div _ngcontent-vpk-c111="" class="switch-toggle d-flex mt-2"><span
                                                            _ngcontent-vpk-c111="" class="me-auto">Horizontal Hover
                                                            Menu</span>
                                                        <p _ngcontent-vpk-c111="" class="onoffswitch2 my-0"><input
                                                                _ngcontent-vpk-c111="" type="radio" name="onoffswitch15"
                                                                id="myonoffswitch111"
                                                                class="onoffswitch2-checkbox"><label
                                                                _ngcontent-vpk-c111="" for="myonoffswitch111"
                                                                class="onoffswitch2-label"></label></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div _ngcontent-vpk-c111="" class="swichermainleft">
                                            <h4 _ngcontent-vpk-c111="">LTR and RTL VERSIONS</h4>
                                            <div _ngcontent-vpk-c111="" class="skin-body">
                                                <div _ngcontent-vpk-c111="" class="switch_section">
                                                    <div _ngcontent-vpk-c111="" class="switch-toggle d-flex"><span
                                                            _ngcontent-vpk-c111="" class="me-auto">LTR Version</span>
                                                        <p _ngcontent-vpk-c111="" class="onoffswitch2"><input
                                                                _ngcontent-vpk-c111="" type="radio" name="onoffswitch25"
                                                                id="myonoffswitch54" checked=""
                                                                class="onoffswitch2-checkbox"><label
                                                                _ngcontent-vpk-c111="" for="myonoffswitch54"
                                                                class="onoffswitch2-label"></label></p>
                                                    </div>
                                                    <div _ngcontent-vpk-c111="" class="switch-toggle d-flex mt-2"><span
                                                            _ngcontent-vpk-c111="" class="me-auto">RTL Version</span>
                                                        <p _ngcontent-vpk-c111="" class="onoffswitch2"><input
                                                                _ngcontent-vpk-c111="" type="radio" name="onoffswitch25"
                                                                id="myonoffswitch55"
                                                                class="onoffswitch2-checkbox"><label
                                                                _ngcontent-vpk-c111="" for="myonoffswitch55"
                                                                class="onoffswitch2-label active"></label></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div _ngcontent-vpk-c111="" class="swichermainleft">
                                            <h4 _ngcontent-vpk-c111="">Theme Style</h4>
                                            <div _ngcontent-vpk-c111="" class="skin-body">
                                                <div _ngcontent-vpk-c111="" class="switch_section">
                                                    <div _ngcontent-vpk-c111="" class="switch-toggle d-flex"><span
                                                            _ngcontent-vpk-c111="" class="me-auto">Light Theme</span>
                                                        <p _ngcontent-vpk-c111="" class="onoffswitch2"><input
                                                                _ngcontent-vpk-c111="" type="radio" name="onoffswitch1"
                                                                id="myonoffswitch1" checked=""
                                                                class="onoffswitch2-checkbox"><label
                                                                _ngcontent-vpk-c111="" for="myonoffswitch1"
                                                                class="onoffswitch2-label"></label></p>
                                                    </div>
                                                    <div _ngcontent-vpk-c111="" class="switch-toggle d-flex mt-2"><span
                                                            _ngcontent-vpk-c111="" class="me-auto">Dark Theme</span>
                                                        <p _ngcontent-vpk-c111="" class="onoffswitch2"><input
                                                                _ngcontent-vpk-c111="" type="radio" name="onoffswitch1"
                                                                id="myonoffswitch2" class="onoffswitch2-checkbox"><label
                                                                _ngcontent-vpk-c111="" for="myonoffswitch2"
                                                                class="onoffswitch2-label"></label></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div _ngcontent-vpk-c111="" class="swichermainleft">
                                            <h4 _ngcontent-vpk-c111="">Theme Color</h4>
                                            <div _ngcontent-vpk-c111="" class="skin-body">
                                                <div _ngcontent-vpk-c111="" class="switch_section">
                                                    <div _ngcontent-vpk-c111="" class="switch-toggle d-flex"><span
                                                            _ngcontent-vpk-c111="" class="me-auto">Primary</span>
                                                        <div _ngcontent-vpk-c111=""><ngx-colors _ngcontent-vpk-c111=""
                                                                ngx-colors-trigger="" acceptlabel="Select"
                                                                data-id="bg-color" data-id1="bg-hover"
                                                                data-id2="bg-border" data-id9="transparentcolor"
                                                                class="color-primary-Bg ng-untouched ng-valid ng-dirty"
                                                                _nghost-vpk-c110="" style="opacity: 1;">
                                                                <div _ngcontent-vpk-c110="" class="app-color-picker">
                                                                    <div _ngcontent-vpk-c110="" class="preview">
                                                                        <div _ngcontent-vpk-c110=""
                                                                            class="preview-background">
                                                                            <div _ngcontent-vpk-c110="" class="circle"
                                                                                style="background: rgb(59, 70, 230);">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </ngx-colors></div>
                                                    </div>
                                                    <div _ngcontent-vpk-c111="" class="switch-toggle d-flex mt-2"><span
                                                            _ngcontent-vpk-c111="" class="me-auto">Background
                                                            Color</span>
                                                        <div _ngcontent-vpk-c111=""><ngx-colors _ngcontent-vpk-c111=""
                                                                ngx-colors-trigger="" acceptlabel="Select"
                                                                data-id5="body" data-id6="theme"
                                                                class="color-bg-Dark ng-untouched ng-valid ng-dirty"
                                                                _nghost-vpk-c110="" style="opacity: 1;">
                                                                <div _ngcontent-vpk-c110="" class="app-color-picker">
                                                                    <div _ngcontent-vpk-c110="" class="preview">
                                                                        <div _ngcontent-vpk-c110=""
                                                                            class="preview-background">
                                                                            <div _ngcontent-vpk-c110="" class="circle"
                                                                                style="background: rgb(38, 45, 71);">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </ngx-colors></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div _ngcontent-vpk-c111="" class="swichermainleft">
                                            <h4 _ngcontent-vpk-c111="">Menu Styles</h4>
                                            <div _ngcontent-vpk-c111="" class="skin-body">
                                                <div _ngcontent-vpk-c111="" class="switch_section">
                                                    <div _ngcontent-vpk-c111="" class="switch-toggle lightMenu d-flex">
                                                        <span _ngcontent-vpk-c111="" class="me-auto">Light Menu</span>
                                                        <p _ngcontent-vpk-c111="" class="onoffswitch2"><input
                                                                _ngcontent-vpk-c111="" type="radio" name="onoffswitch2"
                                                                id="myonoffswitch3" checked="true"
                                                                class="onoffswitch2-checkbox"><label
                                                                _ngcontent-vpk-c111="" for="myonoffswitch3"
                                                                class="onoffswitch2-label"></label></p>
                                                    </div>
                                                    <div _ngcontent-vpk-c111=""
                                                        class="switch-toggle colorMenu d-flex mt-2"><span
                                                            _ngcontent-vpk-c111="" class="me-auto">Color Menu</span>
                                                        <p _ngcontent-vpk-c111="" class="onoffswitch2"><input
                                                                _ngcontent-vpk-c111="" type="radio" name="onoffswitch2"
                                                                id="myonoffswitch4" class="onoffswitch2-checkbox"><label
                                                                _ngcontent-vpk-c111="" for="myonoffswitch4"
                                                                class="onoffswitch2-label"></label></p>
                                                    </div>
                                                    <div _ngcontent-vpk-c111=""
                                                        class="switch-toggle darkMenu d-flex mt-2"><span
                                                            _ngcontent-vpk-c111="" class="me-auto">Dark Menu</span>
                                                        <p _ngcontent-vpk-c111="" class="onoffswitch2"><input
                                                                _ngcontent-vpk-c111="" type="radio" name="onoffswitch2"
                                                                id="myonoffswitch5" class="onoffswitch2-checkbox"><label
                                                                _ngcontent-vpk-c111="" for="myonoffswitch5"
                                                                class="onoffswitch2-label"></label></p>
                                                    </div>
                                                    <div _ngcontent-vpk-c111=""
                                                        class="switch-toggle gradientMenu d-flex mt-2"><span
                                                            _ngcontent-vpk-c111="" class="me-auto">Gradient Menu</span>
                                                        <p _ngcontent-vpk-c111="" class="onoffswitch2"><input
                                                                _ngcontent-vpk-c111="" type="radio" name="onoffswitch2"
                                                                id="myonoffswitch25"
                                                                class="onoffswitch2-checkbox"><label
                                                                _ngcontent-vpk-c111="" for="myonoffswitch25"
                                                                class="onoffswitch2-label"></label></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div _ngcontent-vpk-c111="" class="swichermainleft">
                                            <h4 _ngcontent-vpk-c111="">Header Styles</h4>
                                            <div _ngcontent-vpk-c111="" class="skin-body">
                                                <div _ngcontent-vpk-c111="" class="switch_section">
                                                    <div _ngcontent-vpk-c111=""
                                                        class="switch-toggle lightHeader d-flex"><span
                                                            _ngcontent-vpk-c111="" class="me-auto">Light Header</span>
                                                        <p _ngcontent-vpk-c111="" class="onoffswitch2"><input
                                                                _ngcontent-vpk-c111="" type="radio" name="onoffswitch3"
                                                                id="myonoffswitch6" checked="true"
                                                                class="onoffswitch2-checkbox"><label
                                                                _ngcontent-vpk-c111="" for="myonoffswitch6"
                                                                class="onoffswitch2-label"></label></p>
                                                    </div>
                                                    <div _ngcontent-vpk-c111=""
                                                        class="switch-toggle colorHeader d-flex mt-2"><span
                                                            _ngcontent-vpk-c111="" class="me-auto">Color Header</span>
                                                        <p _ngcontent-vpk-c111="" class="onoffswitch2"><input
                                                                _ngcontent-vpk-c111="" type="radio" name="onoffswitch3"
                                                                id="myonoffswitch7" class="onoffswitch2-checkbox"><label
                                                                _ngcontent-vpk-c111="" for="myonoffswitch7"
                                                                class="onoffswitch2-label"></label></p>
                                                    </div>
                                                    <div _ngcontent-vpk-c111=""
                                                        class="switch-toggle darkHeader d-flex mt-2"><span
                                                            _ngcontent-vpk-c111="" class="me-auto">Dark Header</span>
                                                        <p _ngcontent-vpk-c111="" class="onoffswitch2"><input
                                                                _ngcontent-vpk-c111="" type="radio" name="onoffswitch3"
                                                                id="myonoffswitch8" class="onoffswitch2-checkbox"><label
                                                                _ngcontent-vpk-c111="" for="myonoffswitch8"
                                                                class="onoffswitch2-label"></label></p>
                                                    </div>
                                                    <div _ngcontent-vpk-c111=""
                                                        class="switch-toggle darkHeader d-flex mt-2"><span
                                                            _ngcontent-vpk-c111="" class="me-auto">Gradient
                                                            Header</span>
                                                        <p _ngcontent-vpk-c111="" class="onoffswitch2"><input
                                                                _ngcontent-vpk-c111="" type="radio" name="onoffswitch3"
                                                                id="myonoffswitch26"
                                                                class="onoffswitch2-checkbox"><label
                                                                _ngcontent-vpk-c111="" for="myonoffswitch26"
                                                                class="onoffswitch2-label"></label></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div _ngcontent-vpk-c111="" class="swichermainleft">
                                            <h4 _ngcontent-vpk-c111="">Layout Width Styles</h4>
                                            <div _ngcontent-vpk-c111="" class="skin-body">
                                                <div _ngcontent-vpk-c111="" class="switch_section">
                                                    <div _ngcontent-vpk-c111="" class="switch-toggle d-flex"><span
                                                            _ngcontent-vpk-c111="" class="me-auto">Full Width</span>
                                                        <p _ngcontent-vpk-c111="" class="onoffswitch2"><input
                                                                _ngcontent-vpk-c111="" type="radio" name="onoffswitch4"
                                                                id="myonoffswitch9" checked=""
                                                                class="onoffswitch2-checkbox"><label
                                                                _ngcontent-vpk-c111="" for="myonoffswitch9"
                                                                class="onoffswitch2-label"></label></p>
                                                    </div>
                                                    <div _ngcontent-vpk-c111="" class="switch-toggle d-flex mt-2"><span
                                                            _ngcontent-vpk-c111="" class="me-auto">Boxed</span>
                                                        <p _ngcontent-vpk-c111="" class="onoffswitch2"><input
                                                                _ngcontent-vpk-c111="" type="radio" name="onoffswitch4"
                                                                id="myonoffswitch10"
                                                                class="onoffswitch2-checkbox"><label
                                                                _ngcontent-vpk-c111="" for="myonoffswitch10"
                                                                class="onoffswitch2-label"></label></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div _ngcontent-vpk-c111="" class="swichermainleft">
                                            <h4 _ngcontent-vpk-c111="">Layout Positions</h4>
                                            <div _ngcontent-vpk-c111="" class="skin-body">
                                                <div _ngcontent-vpk-c111="" class="switch_section">
                                                    <div _ngcontent-vpk-c111="" class="switch-toggle d-flex"><span
                                                            _ngcontent-vpk-c111="" class="me-auto">Fixed</span>
                                                        <p _ngcontent-vpk-c111="" class="onoffswitch2"><input
                                                                _ngcontent-vpk-c111="" type="radio" name="onoffswitch5"
                                                                id="myonoffswitch11" checked=""
                                                                class="onoffswitch2-checkbox"><label
                                                                _ngcontent-vpk-c111="" for="myonoffswitch11"
                                                                class="onoffswitch2-label"></label></p>
                                                    </div>
                                                    <div _ngcontent-vpk-c111="" class="switch-toggle d-flex mt-2"><span
                                                            _ngcontent-vpk-c111="" class="me-auto">Scrollable</span>
                                                        <p _ngcontent-vpk-c111="" class="onoffswitch2"><input
                                                                _ngcontent-vpk-c111="" type="radio" name="onoffswitch5"
                                                                id="myonoffswitch12"
                                                                class="onoffswitch2-checkbox"><label
                                                                _ngcontent-vpk-c111="" for="myonoffswitch12"
                                                                class="onoffswitch2-label"></label></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div _ngcontent-vpk-c111="" class="swichermainleft">
                                            <h4 _ngcontent-vpk-c111="">Reset All Styles</h4>
                                            <div _ngcontent-vpk-c111="" class="skin-body">
                                                <div _ngcontent-vpk-c111="" class="switch_section my-4"><button
                                                        _ngcontent-vpk-c111="" type="button"
                                                        class="btn btn-danger btn-block"> Reset All </button></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!---->
                    <ng-scrollbar _ngcontent-vpk-c104="" _nghost-vpk-c102="" scrollable="true" fit="false"
                        class="scrollbar-control">

                        <div _ngcontent-vpk-c102="" scrollbartracky="" class="ng-scrollbar-track">
                            <div _ngcontent-vpk-c102="" scrollbarthumby="" class="ng-scrollbar-thumb"
                                style="height: 20px; transform: translate3d(0px, 0px, 0px);"></div>
                        </div>
                    </ng-scrollbar>
                </div>
            </ng-scrollbar></div>
    </div>
</div>