<div class="dialogs">
    <div  class="row">
            <div class="col-md-12">
            <div  class="productdesc">
                <h3  class="mb-5 mt-3 fw-bold" style="text-align: center;"> Alert</h3>
                <!-- <div *ngFor="let IL of Timings; let i = index;"> -->
                    <!-- <h6 style="text-align: center;" >{{i+1}}  {{IL.Name}} - {{IL.Time}}</h6> -->
                    <div style="text-align: center; max-width: 600px; margin: auto; font-family: Arial, sans-serif;">
                        <h6 style="font-size: 16px; font-weight: bold; margin-bottom: 10px;">
                          Attendance Approval Rules for Selected Employees
                        </h6>
                        <ul style="text-align: left; display: inline-block; padding-left: 20px; font-size: 14px; line-height: 1.6;">
                          <li>1. If only the first half is marked and checkout is missing, checkout will be updated with half-day timings.</li>
                          <li>2. The same logic applies to the second half.</li>
                          <li>3. For a full day, default office timings will be marked if checkout is not available.</li>
                        </ul>
                      </div>
                 <br>
                <!-- <div *ngIf="Timings.length==0">
                    <h6 style="text-align: center;" >Loading......</h6>
                </div> -->
               
                <div class="text-center border-bottom">
                    <button class="btn btn-success" (click)="ApproveAll();">
                        Okay  <i  class="fa fa-check-circle-o"></i></button>    &nbsp; 

                        <button class="btn btn-danger" (click)="CloseTab();">
                            Close  <i  class="fa fa-times"></i></button>  
                        </div> 
            
        </div>
        </div>
        </div>
</div>
