<div class="dialogs">
    
    <div style="width: 100%;justify-content: center;display: flex;padding: 30px 10px;">
        <img style="width: 100px;" src="./assets/images/pngs/success-tick.png"/>
    </div>
    <div style="font-size: 20px;display: flex;justify-content: center;padding: 10px 0px;color: #006534;font-weight: 500;">{{title}}</div>
    <div style="font-size: 16px;display: flex;justify-content: center;color: #454545;font-weight: 400;">{{subTitle}}</div>
    <div style="display: flex;justify-content: center;margin-top: 50px;">
        <button mat-icon-button aria-label="close dialog" (click)="close()" style="background-color: #6f6f6f;border-radius: 5px;padding: 4px 10px;font-size: 14px;color: #fff;font-weight: 300;">
            close
        </button>
    </div>

</div>