<div>
    <div class="col-lg-12" style="padding: 0;">
        <div class="card">
            <div class="card-header" style="display: flex;justify-content:space-between;">
                <div class="col-md-5">
                    <h3 class="card-title">Trainee Wise List</h3>
                </div>
                <div class="col-md-6" style="display: flex;justify-content: end;">
                    <button class="btn btn-primary" style="border-radius: 10px;background-color: #3601b5a3;" (click)="downloadPDF()" [disabled]="EmployeesList ==undefined || EmployeesList == null || !(EmployeesList.length > 0)">Get PDF Report</button>&nbsp;
                    <button class="btn btn-primary" style="border-radius: 10px;background-color: #3601b5a3;" (click)="downloadExcel()" [disabled]="EmployeesList ==undefined || EmployeesList == null || !(EmployeesList.length > 0)">Get Excel Report</button>
                </div>
            </div>
                  <div class="maincards" *ngIf="EmployeesList.length>0">
                    <div class="chip3">
                        <div class="chip3-title">Title</div>
                        <h3 class="chip3-value">{{EmployeeWiseList?.title}}</h3>
                    </div>
                    <div class="chip3">
                        <div class="chip3-title">Description</div>
                        <h3 class="chip3-value">{{EmployeeWiseList?.desccription}}</h3>
                    </div>
                    <div class="chip3">
                        <div class="chip3-title">Start Date</div>
                        <h3 class="chip3-value">{{EmployeeWiseList?.startdate | date:'dd-MMM-yyyy'}}</h3>
                    </div>
                    <div class="chip3">
                        <div class="chip3-title">End Date</div>
                        <h3 class="chip3-value">{{EmployeeWiseList?.enddate | date:'dd-MMM-yyyy'}}</h3>
                    </div>
                    <div class="chip3">
                        <div class="chip3-title">Assigned On</div>
                        <h3 class="chip3-value">{{EmployeeWiseList?.assignedon}}</h3>
                    </div>
                    <!-- <div class="chip3">
                        <h3 class="chip3-value">{{EmployeeWiseList?.createddate}}</h3>
                        <div class="chip3-title">Created Date</div>
                    </div> -->
                </div>
            <!-- <div style="display: flex;justify-content: space-between;align-items: end;padding: 0px 20px;"> -->
                <!-- <div style="padding: 0" class="col-md-2" >
                    <input class="search"  type="search" class="searchbar"
                      placeholder="Search" [(ngModel)]="searchText" ngDefaultControl (ngModelChange)="applyFilter()">
                      <div class="cancelsearch">
                         <i class="fa fa-times" *ngIf="searchText.length > 0" (click)="removesearch()" ></i>
                         <i class="fa fa-search" *ngIf="searchText.length == 0"></i>
                       </div>
                  </div> -->
      
        <!-- </div> -->
            <div class="card-body">
                    <div class="table-responsive">
                        <div *ngIf="showFilter" class="col-md-3" style="float: right;margin-top:-13px;margin-bottom: 6px;">
                            <label class="form-label">Filter By Status</label>
                            <ng-multiselect-dropdown  [placeholder]="'Select Status'" 
                            [data]="StatusList" [(ngModel)]="selectedStatus" (onSelect)="onstatusSelect($event)" (onDeSelect)="onDeselectstatus($event)"
                            [settings]="statusSettings">
                        </ng-multiselect-dropdown>
                    </div>
                        <!-- <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="background-color: #3601b51f;text-align: center;">SLNo</th>
                                <th style="background-color: #3601b51f;text-align: center;">Action</th>
                                <th style="background-color: #3601b51f;text-align: center;">Status</th>
                                <th style="background-color: #3601b51f;text-align: center;">Remarks</th>
                                <th style="background-color: #3601b51f;text-align: center;">Employee</th>
                                <th style="background-color: #3601b51f;text-align: center;">Title</th>
                                <th style="background-color: #3601b51f;text-align: center;">Description</th>
                                <th style="background-color: #3601b51f;text-align: center;">Start_Date</th>
                                <th style="background-color: #3601b51f;text-align: center;">End_Date</th>
                                <th style="background-color: #3601b51f;text-align: center;">Assigned_on</th>
                                <th style="background-color: #3601b51f;text-align: center;">Created_date</th>
                                <th style="background-color: #3601b51f;text-align: center;">Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="ng-star-inserted" *ngFor="let IL of EmployeesList; let i = index;">
                                <td>
                                    <div class="ng-star-inserted" style="text-align: center;"> {{i+1}} </div>
                                </td>
                                <td>
                                    <div class="ng-star-inserted" style="text-align: center;"> 
                                       <button style="background-color: blue;color: white;padding: 4px 10px;border-radius: 6px;" (click)="updateRemarks(IL)">Update</button>&nbsp;
                                    </div>

                                </td>
                                <td>
                                    <div class="ng-star-inserted" style="text-align: center;display: flex;"> 
                                        <select [ngClass]="IL.StatusByTrainee" [(ngModel)]="IL.StatusByTrainee" style="border-radius: 10px;">
                                            <option value="Pending">Pending</option>
                                            <option value="On-Going">On-Going</option>
                                            <option value="Complete">Complete</option>
                                          </select>
                                         
                                    </div>
                                </td>
                                <td>
                                    <div class="ng-star-inserted" style="text-align: center;width: 150px;"> <textarea [disabled]="IL.StatusByTrainee != 'Complete' && IL.StatusByTrainee != 'On-Going'" class="form-control" placeholder="Add Remarks" style="border: 1px solid black;" [(ngModel)]="IL.RemarksByTrainee"></textarea>
                                     </div>
                                 </td>
                                <td>
                                    <div class="ng-star-inserted" style="text-align: center;">{{IL.EmployeeName}}
                                    </div>

                                </td>
                                <td>
                                    <div class="ng-star-inserted" style="text-align: center;">
                                        {{IL.TrainingHeading}} </div>

                                </td>
                                <td>
                                    <div class="ng-star-inserted" style="text-align: center;"> {{IL.Training_Description}}
                                    </div>

                                </td>
                                <td>
                                    <div class="ng-star-inserted" style="text-align: center;"> {{IL.StartDateByAdmin}}
                                    </div>

                                </td>
                                <td>
                                    <div class="ng-star-inserted" style="text-align: center;"> {{IL.EndDateByAdmin}}
                                    </div>

                                </td>
                                <td>
                                    <div class="ng-star-inserted" style="text-align: center;"> {{IL.AssignedOn}}
                                    </div>

                                </td>
                            
                                <td>
                                    <div>
                                        {{IL.CreatedDate | date:'dd-MMM-yyyy'}}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        {{IL.TrainingSessionAddress}}
                                    </div>
                                </td>
                      
                                
                           
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="(EmployeesList.length === 0 && searchText.length > 0) || selectedStatus.length > 0" style="display: flex;justify-content: center;padding: 15px 0px;background-color: #f0f0f8;margin-top:-15px">
                        No data found
                       </div> -->
                       <app-common-table [data]="EmployeesList" [ExportName]="'Assigned Trainer List'"
                        [displayColumns]="displayColumns" [Loading]="employeeLoading"
                        [displayedColumns]="displayedColumns" [editableColumns]="editableColumns"
                        [actions]="actionOptions" [headerColors]="headerColors" [ReportTitles]="ReportTitles"
                        (actionEmitter)="actionEmitter($event)"></app-common-table>
                    </div>
                    </div>

        </div>
    </div>
</div>