<div style="width: auto;padding: 20px;height: 600px;overflow: scroll;">
    <div class="dialog-title">
      <div style="display: flex;justify-content: space-between;align-items: center;">
        <div style="font-size: 18px;color: #000000;position: relative;font-weight: 500;" >
          {{edit == true ? 'Update' : 'Add'}} Salary Setting
        </div>
        <button mat-icon-button aria-label="close dialog" style="padding: 0;" mat-dialog-close (click)="close()">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>

     <div style="min-height: 70vh;overflow: auto;">


      <mat-horizontal-stepper [linear]="true" #stepper>
  
        <!-- Step 1 -->
        <mat-step [completed]="steps[0] == true">
          <ng-template matStepLabel>Choose Scope</ng-template>
          <div class="row" style="padding: 10px 0px 20px 0px;">
            <div class="col-md-3 " >
              <label class="form-label">Select Organization</label>
              <ng-multiselect-dropdown [placeholder]="'All Organizations'" [(ngModel)]="selectedOrganization" [data]="OrgList"
                  [settings]="orgSettings" (onSelect)="onselectedOrg($event)"
                  (onDeSelect)="onDeselectedOrg($event)">
              </ng-multiselect-dropdown>
          </div>
            <div class="col-md-3">
                <label class="form-label">Select Branch &nbsp;
                    <!-- <i class="fa fa-info-circle"
                        matTooltip="If you dont select any branches,by default it takes all branches"></i> -->
                </label>
                <ng-multiselect-dropdown [settings]="branchSettings" [placeholder]="'Select Branch'" [data]="BranchList" [(ngModel)]="selectedBranch"
                    (onSelect)="onBranchSelect($event)" (onDeSelect)="onBranchDeSelect($event)">
                </ng-multiselect-dropdown>
                <label class="text-danger" *ngIf="errorMessages.hasOwnProperty('branch') && errorMessages['branch']!=''">{{errorMessages['branch'].message}}</label>
            </div>
            <div class="col-md-3">
                <label class="form-label">Select Department</label>
                <ng-multiselect-dropdown [settings]="departmentSettings" [placeholder]="'All Department'" [data]="DepartmentList"
                    [(ngModel)]="selectedDepartment" (onSelect)="onDeptSelect($event)" (onDeSelect)="onDeptDeSelect($event)"
                   >
                </ng-multiselect-dropdown>
                <label class="text-danger" *ngIf="errorMessages.hasOwnProperty('department') && errorMessages['department']!=''">{{errorMessages['department'].message}}</label>
            </div>
            <div class="col-md-3">
                <label class="form-label">Select Employees</label>
                <ng-multiselect-dropdown [settings]="employeeSettings" [placeholder]="'Select Employees'" [data]="EmployeeList"
                    [(ngModel)]="selectedEmployees" (onSelect)="OnEmployeesChange($event)"
                    (onDeSelect)="OnEmployeesChangeDeSelect($event)" (onSelectAll)="OnEmployeesChange($event)" (onDeSelectAll)="OnEmployeesChange($event)">
                </ng-multiselect-dropdown>
                <label class="text-danger" *ngIf="errorMessages.hasOwnProperty('employee') && errorMessages['employee']!=''">{{errorMessages['employee'].message}}</label>
            </div>
      
          </div>
      
          <div style="margin-top: 20%;">
            <button class="btn btn-primary px-4 m-2" (click)="validateSteps(0);validateSteps(0)">Next</button>
          </div>
        </mat-step>
        <!-- Step 2 -->
        <mat-step [completed]="steps[1] == true">
          <ng-template matStepLabel>Enable Salary Types</ng-template>
          <div class="row" style="margin-top:10px">
            <div>
            <button class="btn btn-primary px-4 m-2" (click)="AddField(false,'',0)">Add Field <i class="fa fa-plus"></i></button>
                <div style="background-color: #F7FCF7;border-left: 3px solid #00BA13;padding: 2px;margin-bottom: 5px;">
                    <section class="example-section">
                        <span class="example-list-section">
                          <mat-checkbox class="example-margin"
                             [checked]="earningAllComplete"
                             [color]="earnings.color"
                             [indeterminate]="someComplete(earnings,earningAllComplete)"
                             (change)="setAll($event.checked,earnings,earningAllComplete)"
                             (click)="validateEarnings()">
                             <label style="padding-top: 20px;margin-right:20px;">Earnings </label>
                          </mat-checkbox>
                        </span>
                        <span class="example-list-section">
                          <ul class="row" style="display: flex;flex-wrap: wrap;padding-left: 50px;" >
                            <li class="col-md-4 col-sm-6" *ngFor="let subtask of FieldsArray" style="padding: 0;margin-top: -20px;">
                              <mat-checkbox *ngIf="subtask.FieldType=='Credit'" [(ngModel)]="subtask.IsSelected">
                                <label style="padding-top: 20px;margin-right:20px;">{{subtask.Key}}</label>
                              </mat-checkbox>
                            </li>
                          </ul>
                        </span>
                      </section>
                      <!-- <br> -->
                      <label class="text-danger" *ngIf="errorMessages.hasOwnProperty('earnings') && errorMessages['earnings']!=''">{{errorMessages['earnings'].message}}</label>
                </div>
                <!-- <br> -->
                <div style="background-color: #FEF7F7;border-left: 3px solid #EC0000;padding: 2px;margin-bottom: 5px;">
                    <section class="example-section">
                        <span class="example-list-section">
                          <mat-checkbox class="example-margin"
                             [checked]="deductionAllComplete"
                             [color]="deductions.color"
                             [indeterminate]="someComplete(deductions,deductionAllComplete)"
                             (change)="setAll($event.checked,deductions,deductionAllComplete)"
                             (click)="validateDeductions()">
                             <label style="padding-top: 20px;margin-right:20px;">Deductions</label>
                          </mat-checkbox>
                        </span>
                        <span class="example-list-section">
                          <ul class="row" style="display: flex;flex-wrap: wrap;padding-left: 50px;">
                            <li class="col-md-4 col-sm-6"  *ngFor="let subtask of FieldsArray" style="padding: 0;margin-top: -20px;" >
                              <mat-checkbox *ngIf="subtask.FieldType=='Debit'"  [(ngModel)]="subtask.IsSelected">
                                <label style="padding-top: 20px;margin-right:20px;">{{subtask.Key}}</label>
                              </mat-checkbox>
                            </li>
                          </ul>
                        </span>
                      </section>
                      <!-- <br> -->
                      <label class="text-danger" *ngIf="errorMessages.hasOwnProperty('deductions') && errorMessages['deductions']!=''">{{errorMessages['deductions'].message}}</label>
                </div>
                <!-- <br> -->
                <div style="background-color: #f7f8fc;border-left: 3px solid #0078ba;padding: 10px;margin-bottom: 5px;">
                <section>
                  <div style="display: flex;justify-content: space-between;">
                    <label>Gross Pay</label>
                    <label style="font-size: 18px;font-weight: 800;">{{totalGross}}%</label>
                  </div>
                  <label *ngIf="errorMessages.grossError != undefined" class="text-danger py-2">{{errorMessages.grossError.message}}</label>
                  <div class="row">
                    <div class="col-lg-4 col-md-6 row" *ngFor="let grossType of grossOptions" style="padding-top: 10px;padding-bottom: 10px;">
                      <section class="col-7">
                        <label [class.text-bold]="grossType.value>0" [class.text-bold]="totalGross>100">{{grossType.title}}</label>
                      </section>
                      <section class="col-4">
                        <input type="number" min="0" max="100" [(ngModel)]="grossType.value" [disabled]="!grossType.status" (change)="updateTotalGross()"  (keypress)="updateTotalGross()" (ngModelChange)="updateTotalGross()">%
                      </section>
                    </div>
                  </div>
                </section>
                </div>
            </div>
        </div>
          <!-- [disabled]="!isStepValid(2)" -->
          <div>
            <button class="btn btn-primary px-4 m-2" (click)="goToPreviousStep()">Previous</button>
            <button class="btn btn-primary px-4 m-2" (click)="validateSteps(1);validateSteps(1)">Next</button>
          </div>
        </mat-step>
      
        <!-- Step 3: Final Step -->
        <mat-step>
          <ng-template matStepLabel>Calculation</ng-template>
      
          <div class="row" style="margin-top:20px;overflow: scroll;">
            <div *ngIf="SalaryFormulae.length>0">
                <label style="font-size: 16px;font-weight: 500;">Salary calculation formulas</label>
            </div>
            <div>

              <app-common-table *ngIf="SalaryFormulae.length>0" [data]="SalaryFormulae" [displayColumns]="displayColumns" [Loading]="salaryFormulaLoading" [displayedColumns]="displayedColumns" [editableColumns]="editableColumns" [headerInfo]="headerInfo" [actions]="actionOptions" [headerColors]="headerColors" [smallHeaders]="smallHeaders" [dataColors]="tableDataColors" (actionEmitter)="actionEmitter($event)"></app-common-table>

              <hr *ngIf="SalaryFormulae.length>0"/>

              <div>
                <label style="font-size: 16px;font-weight: 500;">Add New Salary calculation formula</label>
              </div>
              <div class="row">
                <div class="col-2">
                  <label class="">Salary Type</label>
                  <ng-multiselect-dropdown [settings]="salaryTypeSettings" [placeholder]="'Select Salary Type'" [data]="SalaryTypes" [(ngModel)]="salaryFormulaRow.type" (onSelect)="onSalaryTypeSelect($event)" (onDeSelect)="onSalaryTypeDeSelect($event)" style="min-width: 100px;display: block;"> </ng-multiselect-dropdown>
                </div>
                <div class="col-1">
                  <div class="">Value</div>
                    <input type="number" [(ngModel)]="salaryFormulaRow.Percent" min="1" class="form-control" style="margin-top: 5px;"/>
                </div>
                <div class="col-1">
                  <div class="">Amount</div>
                  <mat-slide-toggle name="isAmtPercent" ngDefaultControl [(ngModel)]="salaryFormulaRow.isAmount" (click)="validateAmount(salaryFormulaRow.isAmount)" color="primary" style="top: 5px;position: relative;"></mat-slide-toggle>
                    <!-- <mat-radio-button ></mat-radio-button> -->
                </div>
                <div class="col-1">
                  <div class="">Percent</div>
                  <mat-slide-toggle name="isAmtPercent" ngDefaultControl [(ngModel)]="salaryFormulaRow.isPercent" (click)="validatePercent(salaryFormulaRow.isPercent)" color="primary" style="top: 5px;position: relative;" selected ></mat-slide-toggle>
                    <!-- <mat-radio-button ></mat-radio-button> -->
                </div>
                <div class="col-1">
                  <div class="label1">Min Amt ₹</div>
                    <input style="width: 80px;" type="number" [(ngModel)]="salaryFormulaRow.minAmt" class="form-control" (change)="minMaxValidationAmount(salaryFormulaRow.minAmt,salaryFormulaRow.maxAmt)"/>
                </div>
                <div class="col-1">
                  <div class="label1">Max Amt ₹</div>
                    <input style="width: 80px;" type="number" [(ngModel)]="salaryFormulaRow.maxAmt" class="form-control" (change)="minMaxValidationAmount(salaryFormulaRow.minAmt,salaryFormulaRow.maxAmt)"/>
                </div>
                <div class="col-1" style="width: 5% !important;max-width: 5% !important;" *ngIf="this.checkEarningsStatus('Basic') == true">
                  <div class="label1">Basic</div>
                  <span style="display: flex;justify-content: center;padding: 0px 5px;">
                    <mat-slide-toggle ngDefaultControl [(ngModel)]="salaryFormulaRow.isBasic" ></mat-slide-toggle>
                      <!-- <mat-checkbox color="primary" class="example-margin" [(ngModel)]="salaryFormulaRow.isBasic"></mat-checkbox> -->
                  </span>
                </div>
                <div class="col-1" style="width: 5% !important;max-width: 5% !important;" *ngIf="this.checkEarningsStatus('House Rent Allowance (HRA)') == true">
                  <div class="label1">HRA</div>
                  <span style="display: flex;justify-content: center;padding: 0px 5px;">
                    <mat-slide-toggle ngDefaultControl [(ngModel)]="salaryFormulaRow.isHRA" ></mat-slide-toggle>
                      <!-- <mat-checkbox color="primary" class="example-margin" [(ngModel)]="salaryFormulaRow.isHRA"></mat-checkbox> -->
                  </span>
                </div>
                <div class="col-1" style="width: 5% !important;max-width: 5% !important;" *ngIf="this.checkEarningsStatus('Dearness Allowance (DA)') == true">
                  <div class="label1">DA</div>
                  <span style="display: flex;justify-content: center;padding: 0px 5px;">
                    <mat-slide-toggle ngDefaultControl [(ngModel)]="salaryFormulaRow.isDA" ></mat-slide-toggle>
                      <!-- <mat-checkbox color="primary" class="example-margin" [(ngModel)]="salaryFormulaRow.isDA"></mat-checkbox> -->
                  </span>
                </div>
                <div class="col-1" style="width: 5% !important;max-width: 5% !important;" *ngIf="this.checkEarningsStatus('Travel Allowance (TA)') == true">
                  <div class="label1">TA</div>
                  <span style="display: flex;justify-content: center;padding: 0px 5px;">
                      <!-- <mat-checkbox color="primary" class="example-margin" [(ngModel)]="salaryFormulaRow.isTA"></mat-checkbox> -->
                    <mat-slide-toggle ngDefaultControl [(ngModel)]="salaryFormulaRow.isTA" ></mat-slide-toggle>

                  </span>
                </div>
                <div class="col-1" style="width: 5% !important;max-width: 5% !important;" *ngIf="this.checkEarningsStatus('Medical Allowance (MA)') == true">
                  <div class="label1">MA</div>
                  <span style="display: flex;justify-content: center;padding: 0px 5px;">
                    <!-- <mat-checkbox color="primary" class="example-margin" [(ngModel)]="salaryFormulaRow.isMA"></mat-checkbox> -->
                    <mat-slide-toggle ngDefaultControl [(ngModel)]="salaryFormulaRow.isMA" ></mat-slide-toggle>

                  </span>
                </div>
                <div class="col-1" style="width: 5% !important;max-width: 5% !important;">
                  <button class="btn btn-primary" (click)="addSalaryFormula()">Add</button>&nbsp;
                </div>
              </div>
             
            </div>
          </div>

          <div class="row">
            <hr/>
            <div class="col-3">
              <button class="btn btn-primary px-4" style="margin-top:20px;width: fit-content;" (click)="onSubmit()">{{edit == true ? 'Update' : 'Save'}}</button>
            </div>
          </div>

        </mat-step>
      
      </mat-horizontal-stepper>
    </div>

</div>  




